
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card pending-tutor-box">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="col-md-12 col-lg-12 user-text-heading">
                        <h1>@Resources.Resources.TxtHi @HttpContext.Current.Session["UserName"]</h1>
                        <p>@Resources.Resources.TtlWelcome</p>
                        <a href="~/class/create" class="btn btn-rounded btn-outline-info">@Resources.Resources.TxtCreateNewClass</a>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<div class="row page-titles m-b-10">
    <div class="col-md-5 align-self-center mobile-view-teacher">
        <h3 class="inbox-text">@Resources.Resources.TxtUpcomingClasses</h3>
    </div>
    <div class="col-md-7 align-self-center list-sort text-right delete-message today-text ">
        @Resources.Resources.TxtToday
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card pending-tutor-box pending-tutor-box-table">
            <div class="card-body p-t-0">
                <div class="col-md-12 col-lg-12 enjoy-heading">
                    <h1>@Resources.Resources.TxtEnjoyStay</h1>
                    <p>@Resources.Resources.TxtUwillGetNoti</p>

                </div>
                <div class="get-noticed">
                    <div class="get-phot"><img src="~/Content/teacher/images/boy-new.png"></div>
                    <div class="get-noticed-right">
                        <h5>@Resources.Resources.TxtGetNoticed</h5>
                        <h6>@Resources.Resources.TxtGetMoreVisits</h6>
                        <p><a href="javascript:;">@Resources.Resources.BtnBoostNow</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>