@model ChillLearn.CustomModels.TeacherProfileModel
@using ChillLearn.Enums;
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
<link href="~/Content/telephone-plugin/css/intlTelInput.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12 m-t-20">
        <div class="card pending-tutor-box ps-container">
            <div class="profile-user-box">
                @{
                    var imgSrc = "";
                    if (HttpContext.Current.Session["Picture"] != null)
                    {
                        //var base64 = Convert.ToBase64String((Byte[])HttpContext.Current.Session["Picture"]);
                        //imgSrc = String.Format("data:image;base64,{0}", base64);
                        imgSrc = "/Content/images/" + @HttpContext.Current.Session["Picture"].ToString();
                    }
                    else
                    {
                        imgSrc = "/Content/images/NoImage.jpg";
                    }
                }
                <img src="@imgSrc" alt="user" />
                @*<img src="~/Content/images/@HttpContext.Current.Session["Picture"]">*@
                @*<label for="file-input">
                        <span><img src="~/Content/images/photo-camera.svg"></span>
                    </label>
                    <input id="file-input" type="file" name="file" style="display:none;" />*@
            </div>
            <div class="username">
                <h1>@Model.FirstName  @Model.LastName</h1>
                <p>Member Since Sept 2019</p>
            </div>
            <div class="list-box">
                <ul>
                    <li>
                        <span>Hours Spent</span>
                        <p>20Hrs</p>
                    </li>
                    <li>
                        <span>Classes taken</span>
                        <p>6 Sessions</p>
                    </li>
                    <li>
                        <span>Question Asked</span>
                        <p>25 Questions</p>
                    </li>
                </ul>
            </div>

            <div class="edit-profile-but">
                <a href="javascript:;" data-toggle="modal" data-target="#profile-view"><img src="~/Content/images/edit.svg"> Edit Profile</a>
            </div>
            <div class="form-edit-profile">
                <div class="row form-material">
                    <div class="col-md-6">
                        <label class="m-t-20">First Name</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @*<input type="text" class="form-control" placeholder="Smith">*@
                        <label class="m-t-40">Email ID</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">Country</label>
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">Last Name</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">Mobile No.</label>
                        @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">City</label>
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-12">
                        <label class="m-t-20">Address</label>
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">Title</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">Qualification</label>
                        @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-12">
                        <label class="m-t-20">Experience</label>
                        @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-12">
                        <label class="m-t-20">About Me</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @readonly = "readonly", @placeholder = "Tell us about yourself" })
                    </div>
                </div>

            </div>
            @*<div class="list-box-change form-material">
                    <ul>
                        <li>
                            <label class="m-t-20">Password</label>
                            <input type="password" class="form-control" value="password">
                        </li>
                        <li>
                            <a href="javascript:;">Change Password</a>
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
</div>

@*Qualification*@
<div class="row page-titles m-b-0">
    <div class="col-md-5 align-self-center">
        <h3 class="inbox-text">Qualifications</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ps-container p-20">
            <div class="form-edit-profile">
                @if (ViewBag.TeacherQualifications != null)
                {
                    <table class="table table-sm text-center table-striped">
                        <thead style="background-color:#16476A;color:white">
                            <tr class="">
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Institute</th>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in ViewBag.TeacherQualifications)
                            {
                                { i++; }
                                <tr>
                                    <td>@i</td>
                                    <td>@item.DegreeTitle</td>
                                    <td>@item.InstituteName</td>
                                    <td>@item.YearPassed</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="col-md-12">
                        <label class="m-t-20">No Data Available</label>
                    </div>
                }
                <div class="row form-material" style="width:100%;">
                    <div class="col-md-12">
                        <div class="alert alert-danger mt-2" role="alert" id="errorValidation" style="display:none;">
                            Please Fill All Fields.
                        </div>
                        <div class="alert alert-danger mt-2" role="alert" id="errorResponce" style="display:none;">
                            Somthing went wrong Please try again later.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">Title</label>
                        <input type="text" class="form-control" id="qTitle" placeholder="Degree Title">
                        <label class="m-t-20">Institute</label>
                        <input class="form-control" id="qInstitute" placeholder="Institure Name">
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">Year Passed</label>
                        <input type="number" class="form-control" id="qPassedYear" placeholder="2014">
                    </div>
                    <div class="col-md-12 m-t-20 m-b-20">
                        <button type="button" class="btn btn-primary float-right" id="btnAddNewQual">Save</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@*Tutor Subjects*@
<div class="row page-titles m-b-0">
    <div class="col-md-5 align-self-center">
        <h3 class="inbox-text">Subject Details</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ps-container p-20">
            <div class="form-edit-profile">
                <div class="row">
                    @if (ViewBag.TeacherStages != null)
                    {
                        <table class="table table-sm text-center table-striped">
                            <thead style="background-color:#16476A;color:white">
                                <tr class="">
                                    <th scope="col">#</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Stage</th>
                                    @*<th scope="col">Rate</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 0;}
                                @foreach (var item in ViewBag.TeacherStages)
                                {
                                    { i++; }
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.SubjectName</td>
                                        <td>@item.StageName</td>
                                        @*<td>@item.HourlyRate</td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <label class="m-t-20">No Data Available</label>
                        </div>
                    }
                    <div class="col-md-12 p-0 form-material">
                        <div class="card pending-tutor-box ps-container">
                            <div class="form-edit-profile">
                                <div class="row p-2">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger mt-2" role="alert" id="errorValidationStage" style="display:none;">
                                            Please Fill All Fields.
                                        </div>
                                        <div class="alert alert-danger mt-2" role="alert" id="errorResponceStage" style="display:none;">
                                            Somthing went wrong Please try again later.
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="m-t-20">Subject</label>
                                        <input type="text" class="form-control" id="selectSubject" placeholder="Computer Science, Math">
                                    </div>
                                    <div class="col-md-5">
                                        <label class="m-t-20">Stage</label>
                                        @*<input type="text" class="form-control" placeholder="Primery, Middle">*@
                                        <select class="form-control" placeholder="Primery, Middle" id="selectStage">
                                            <option value="-1">--stage--</option>
                                            @if (ViewBag.Stages != null)
                                            {
                                                foreach (var stage in ViewBag.Stages)
                                                {
                                                    <option value="@stage.StageID">@stage.StageName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    @*<div class="col-md-2">
                                            <label class="m-t-20">Hourly Rate</label>
                                            <input type="number" class="form-control" id="hourlyRate" placeholder="10, 20">
                                        </div>*@
                                    <div class="col-md-2">
                                        <div class="col-md-12 m-t-20">
                                            <button type="button" class="btn btn-primary float-right" id="btnAddNew">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Tutor Certification*@
<div class="row page-titles m-b-0">
    <div class="col-md-5 align-self-center">
        <h3 class="inbox-text">Certifications</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card ps-container p-20">
            <div class="form-edit-profile">
                @if (ViewBag.TeacherCertification != null)
                {
                    <table class="table table-sm text-center table-striped">
                        <thead style="background-color:#16476A;color:white">
                            <tr class="">
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Institute</th>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in ViewBag.TeacherCertification)
                            {
                                { i++; }
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Title</td>
                                    <td>@item.Institute</td>
                                    <td>@item.Year</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="col-md-12">
                        <label class="m-t-20">No Data Available</label>
                    </div>
                }
                <div class="row form-material" style="width:100%;">
                    <div class="col-md-12">
                        <div class="alert alert-danger mt-2" role="alert" id="errorValidationC" style="display:none;">
                            Please Fill All Fields.
                        </div>
                        <div class="alert alert-danger mt-2" role="alert" id="errorResponceC" style="display:none;">
                            Somthing went wrong Please try again later.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">Title</label>
                        <input type="text" class="form-control" id="cTitle" placeholder="Title">
                        <label class="m-t-20">Institute</label>
                        <input class="form-control" id="cInstitute" placeholder="Institure Name">
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">Year Passed</label>
                        <input type="number" class="form-control" id="cPassedYear" placeholder="2014">

                        @*<input type="file" name="cFile" id="cFile" />*@
                        <div class="custom-file m-t-40">
                            <input type="file" class="custom-file-input" id="cFile" name="cFile">
                            <label class="custom-file-label" for="customFile" style="border-bottom:1px solid lightgray  !important;">Choose file</label>
                        </div>
                    </div>
                    <div class="col-md-12 m-t-20 m-b-20">
                        <button type="button" class="btn btn-primary float-right" id="btnAddNewCertification">Save</button>
                        <div class="loader float-right" style="display:none;" id="loaderSpinner"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>








@*//Edit profile PopUp*@

<div id="profile-view" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-t-0 p-b-0">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body modal-popup-payment classes-panel text-center p-t-0">
                <form role="form" action="/tutor/profile" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 p-t-20">
                            <div class="user-profile profile-left profile-user-box">
                                @*<a class="waves-effect waves-dark" href="#" aria-expanded="false">*@
                                @*<img src="~/Content/images/profile-large.png" alt="user">*@
                                <img src="@imgSrc" alt="user" />
                                <div class="user-online">&nbsp;</div>
                                @*</a>*@
                            </div>
                            <div class="user-profile profile-user-center">
                                <span class="john_title">@Model.FirstName @Model.LastName</span>
                                <span class="online">Online</span>
                                @*<p><a href="javascript:;"><img src="~/Content/images/photo-camera-white.svg"> Update Picture</a></p>*@
                                <label for="file-input">
                                    <p style="cursor: pointer;"><img src="~/Content/images/photo-camera-white.svg"> Update Picture</p>
                                </label>
                                <input id="file-input" type="file" name="file" style="display:none;" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="shape-box">
                                <p class="text-center"><img src="~/Content/images/face.png"></p>
                                <h4>4.5</h4>
                                <p class="text-center"><img src="~/Content/images/star-small.png"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="edit-profile-butnew">
                                @*<a href="javascript:;"><img src="~/Content/images/edit.svg"> Edit Profile</a>*@
                                <button type="submit" class="btn btn-link btn-sm"><img src="~/Content/images/edit.svg"> Edit Profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b-0">
                        <div class="col-md-5">
                            <h3 class="inbox-text text-left">Personal Details</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ps-container p-b-0 m-b-0">
                                <div class="form-edit-profile">
                                    <div class="row form-material form-material-inner">
                                        <div class="col-md-6">
                                            <label class="m-t-20">First Name</label>
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @*<input type="text" class="form-control" placeholder="Smith">*@
                                            <label class="m-t-40">Email ID</label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            <label class="m-t-40">Country</label>
                                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="m-t-20">Last Name</label>
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                            <label class="m-t-40">Mobile No.</label>
                                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @id = "phone", @name = "phone" } })
                                            <label class="m-t-40">City</label>
                                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-12">
                                            <label class="m-t-20">Address</label>
                                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="m-t-20">Title</label>
                                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="m-t-20">Qualification</label>
                                            @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", @id = "phone", @name = "phone" } })
                                        </div>
                                        <div class="col-md-12">
                                            <label class="m-t-20">Experience</label>
                                            @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-12">
                                            <label class="m-t-20">About Me</label>
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Tell us about yourself" })
                                        </div>
                                    </div>

                                </div>


                                @*<div class="list-box-change form-material list-box-change-new">
                                        <ul>
                                            <li>
                                                <label class="m-t-20">Password</label>
                                                <input type="password" class="form-control" value="password">
                                            </li>
                                            <li>
                                                <a href="javascript:;">Change Password</a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="card pending-tutor-box ps-container">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/telephone-plugin/js/intlTelInput.js"></script>
<script src="~/Content/telephone-plugin/js/index.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>

<script>
    $("#selectSubject").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Tutor/GetSubjects",
                data: {
                    "name": request.term
                },
                type: "GET",
                contentType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.SubjectName, value: item.SubjectName };
                    }))
                    //items = [];
                    //map = {};
                    //$.each(data, function (i, item) {
                    //    var id = item.SubjectId;
                    //    var name = item.SubjectName;
                    //    map[name] = {
                    //        id: id,
                    //        name: name
                    //    };
                    //    items.push(name);
                    //});
                    //response(items);
                },
                error: function (response) {
                    alert("error");
                },
                failure: function (response) {
                    alert("fail");
                }
            });
        }
    });

//    $(".custom-file-input").on("change", function () {
//        var fileName = $(this).val().split("\\").pop();
//        var n = fileName.lastIndexOf('/');
//var result = fileName.substring(n + 1);
//        $(this).siblings(".custom-file-label").addClass("selected").html("sss");
//    });

    $("#btnAddNew").click(function () {
        if ($("#selectSubject").val() != "" && $("#selectStage").val() !== "") {
            $.ajax({
                url: "/Tutor/AddTeacherStage",
                data: JSON.stringify({
                    SubjectName: $("#selectSubject").val(),
                    StageId: $("#selectStage").val(),
                    //HourlyRate: $("#hourlyRate").val()
                }),
                type: "Post",
                datatype: "Json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.reload();
                },
                error: function (response) {
                    $("#errorResponceStage").css("display", "block");
                },
                failure: function (response) {
                    alert("fail");
                }
            });
        }
        else {
            $("#errorValidationStage").css("display", "block");
        }
    });
    
        $("#btnAddNewQual").click(function () {
        if ($("#qTitle").val() != "" && $("#qQualfication").val() !== "" && $("#qExperience").val() !== "") {
            $.ajax({
                url: "/Tutor/AddTeacherQualification",
                data: JSON.stringify({
                    DegreeTitle: $("#qTitle").val(),
                    InstituteName: $("#qInstitute").val(),
                    YearPassed: $("#qPassedYear").val()
                }),
                type: "Post",
                datatype: "Json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.reload();
                },
                error: function (response) {
                    $("#errorResponce").css("display", "block");
                },
                failure: function (response) {
                    alert("Request fail please contact support");
                }
            });
        }
        else {
            $("#errorValidation").css("display", "block");
        }
    })

    $("#btnAddNewCertification").click(function () {
        $("#errorResponceC").css("display", "none");
        $("#errorValidationC").css("display", "none");
        $("#loaderSpinner").css("display", "block");
        $("#btnAddNewCertification").prop( "disabled", true );

        var formData = new FormData();
        var files = $("#cFile").get(0).files;
        formData.append("file", files[0]);
        formData.append("DegreeTitle", $('#cTitle').val());
        formData.append("InstituteName", $('#cInstitute').val());
        formData.append("YearPassed", $('#cPassedYear').val());


        if ($("#cTitle").val() != "" && $("#cInstitute").val() !== "" && $("#cPassedYear").val() !== "") {
            $.ajax({
                url: "/Tutor/AddTeacherCertification",
                data: formData,
                type: "Post",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == "true") {
                        location.reload();
                    }
                    else {
                          $("#btnAddNewCertification").prop( "disabled", false );
                        $("#errorResponceC").css("display", "block");
                        $("#loaderSpinner").css("display", "none");
                    }
                    
                },
                error: function (response) {
                    $("#btnAddNewCertification").prop( "disabled", false );
                    $("#errorResponceC").css("display", "block");
                    $("#loaderSpinner").css("display", "none");
                },
                failure: function (response) {
                    $("#btnAddNewCertification").prop("disabled", false);
                    $("#loaderSpinner").css("display", "none");
                    alert("Request fail please contact support");
                }
            });
        }
        else {
            $("#errorValidationC").css("display", "block");
            $("#btnAddNewCertification").prop("disabled", false);
            $("#loaderSpinner").css("display", "none");
        }
    })
</script>
