@model ChillLearn.CustomModels.TeacherProfileModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
<link href="~/Content/telephone-plugin/css/intlTelInput.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12 m-t-20">
        <div class="card pending-tutor-box ps-container">
            <div class="profile-user-box">
                @{
                    var imgSrc = "";
                    if (HttpContext.Current.Session["Picture"] != null)
                    {
                        imgSrc = "/Content/images/" + @HttpContext.Current.Session["Picture"].ToString();
                    }
                    else
                    {
                        imgSrc = "/Content/images/NoImage.jpg";
                    }
                }
                <img src="@imgSrc" alt="user" />
            </div>
            <div class="username">
                <h1>@Model.FirstName  @Model.LastName</h1>
                <p>@Resources.Resources.TxtMemberSince @Model.MemberSince</p>
            </div>
            <div class="list-box">
                <ul>
                    <li>
                        <span>@Resources.Resources.TxtHoursSpent</span>
                        <p>@Model.HoursSpent</p>
                    </li>
                    <li>
                        <span>@Resources.Resources.TxtClassesTaught</span>
                        <p>@Model.ClassesTaught</p>
                    </li>
                    <li>
                        <span>@Resources.Resources.TxtQuestionsAnswered</span>
                        <p>@Model.QuestionsAnswered</p>
                    </li>
                </ul>
            </div>
            <div class="edit-profile-but">
                <a href="javascript:;" data-toggle="modal" data-target="#profile-view"><img src="~/Content/images/edit.svg"> @Resources.Resources.BtnEditProfile</a>
            </div>
            <div class="form-edit-profile">
                <div class="row form-material">
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblFirstName</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">@Resources.Resources.LblEmailId</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">@Resources.Resources.LblCountry</label>
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblLastName</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">@Resources.Resources.LblMobileNo</label>
                        @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">@Resources.Resources.LblCity</label>
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-12">
                        <label class="m-t-20">@Resources.Resources.LblAddress</label>
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblTitle</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblQualification</label>
                        @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-12">
                        <label class="m-t-20">@Resources.Resources.LblExperience</label>
                        @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-12">
                        <label class="m-t-20">@Resources.Resources.LblAboutMe</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @readonly = "readonly", @placeholder = @Resources.Resources.PlcTellUsAbout })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*bank account details*@
<div class="row page-titles m-b-0">
    <div class="col-md-5 align-self-center">
        <h3 class="inbox-text">@Resources.Resources.AccountDetail</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ps-container pb-3">
            <div class="form-edit-profile">
                @if (Model.AccountDetail != null)
                {
                    <div class="row form-material" id="accountForm">
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcEnterAccountNo</label>
                            @Html.TextBoxFor(model => model.AccountDetail.AccountNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcBranchName</label>
                            @Html.TextBoxFor(model => model.AccountDetail.BranchName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcEnterCode</label>
                            @Html.TextBoxFor(model => model.AccountDetail.BranchCode, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcAccountHolderName</label>
                            @Html.TextBoxFor(model => model.AccountDetail.AccountName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcPinNo</label>
                            @Html.TextBoxFor(model => model.AccountDetail.PinNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-12 text-right pr-0">
                            <button type="button" id="btnEditAccountDetails" class="btn btn-primary font-large-1">@Resources.Resources.LblEdit</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row form-material">
                        <div class="col-md-12">
                            <div class="alert alert-danger mt-2" role="alert" id="msgAccountValidation" style="display:none;">
                                @Resources.Resources.MsgFillAllFields
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcEnterAccountNo</label>
                            @Html.TextBoxFor(model => model.AccountDetail.AccountNo, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcBranchName</label>
                            @Html.TextBoxFor(model => model.AccountDetail.BranchName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcEnterCode</label>
                            @Html.TextBoxFor(model => model.AccountDetail.BranchCode, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcAccountHolderName</label>
                            @Html.TextBoxFor(model => model.AccountDetail.AccountName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="m-t-20">@Resources.Resources.PlcPinNo</label>
                            @Html.TextBoxFor(model => model.AccountDetail.PinNo, new { @class = "form-control" })
                        </div>
                        <div class="col-md-12 text-right pr-0">
                            <button type="button" id="btnSaveAccountDetails" class="btn btn-primary font-large-1">@Resources.Resources.BtnSave</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*Qualification*@
<div class="row page-titles m-b-0">
    <div class="col-md-5 align-self-center">
        <h3 class="inbox-text">@Resources.Resources.TxtQualifications</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ps-container p-20">
            <div class="form-edit-profile">
                @if (ViewBag.TeacherQualifications != null)
                {
                    <table class="table table-sm text-center table-striped">
                        <thead style="background-color:#16476A;color:white">
                            <tr class="">
                                <th scope="col">@Resources.Resources.LblTitle</th>
                                <th scope="col">@Resources.Resources.ThdInstitute</th>
                                <th scope="col">@Resources.Resources.ThdYear</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in ViewBag.TeacherQualifications)
                            {
                                <tr>
                                    <td>@item.DegreeTitle</td>
                                    <td>@item.InstituteName</td>
                                    <td>@item.YearPassed</td>
                                    <td>
                                        <button data-id="@item.ID" data-type="qualification" class="btn btn-link deleteRecord">@Resources.Resources.LblDelete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="button" onclick="ToggleForm('qualificationForm')" class="btn btn-link font-large-1">+ @Resources.Resources.LblAdd</button>
                }
                else
                {
                    <div class="col-md-12">
                        <label class="m-t-20">@Resources.Resources.MsgNoData</label>
                    </div>
                }
                <div class="row form-material" style="width:100%; display: none;" id="qualificationForm">
                    <div class="col-md-12">
                        <div class="alert alert-danger mt-2" role="alert" id="errorValidation" style="display:none;">
                            @Resources.Resources.MsgFillAllFields
                        </div>
                        <div class="alert alert-danger mt-2" role="alert" id="errorResponce" style="display:none;">
                            @Resources.Resources.MsgWentWrongTryAgain
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblTitle</label>
                        <input type="text" class="form-control" id="qTitle" placeholder="@Resources.Resources.PlcDegreeTitle">
                        <label class="m-t-20">@Resources.Resources.ThdInstitute</label>
                        <input class="form-control" id="qInstitute" placeholder="@Resources.Resources.PlcInstitureName">
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblYearPassed</label>
                        <select class="form-control" id="qPassedYear">
                            @if (ViewBag.Years != null)
                            {
                                foreach (var stage in ViewBag.Years)
                                {
                                    <option value="@stage">@stage</option>
                                }
                            }
                        </select>
                        @*<input type="number" class="form-control" id="qPassedYear" placeholder="2014">*@
                    </div>
                    <div class="col-md-12 m-t-20 m-b-20">
                        <button type="button" class="btn btn-primary float-right" id="btnAddNewQual">@Resources.Resources.BtnSave</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*Tutor Subjects*@
<div class="row page-titles m-b-0">
    <div class="col-md-5 align-self-center">
        <h3 class="inbox-text">@Resources.Resources.TxtSubjectDetails</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ps-container p-20">
            <div class="form-edit-profile">
                <div class="row">
                    @if (ViewBag.TeacherStages != null)
                    {
                        <table class="table table-sm text-center table-striped">
                            <thead style="background-color:#16476A;color:white">
                                <tr class="">
                                    <th scope="col">@Resources.Resources.LblSubject</th>
                                    <th scope="col">@Resources.Resources.LblStage</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.TeacherStages)
                                {
                                    <tr>
                                        <td>@item.SubjectName</td>
                                        <td>@item.StageName</td>
                                        <td>
                                            <button data-subjectid="@item.SubjectName" data-stageid="@item.StageId" class="btn btn-link editSubject">@Resources.Resources.LblEdit</button>
                                            |
                                            <button data-id="@item.Id" data-type="subject" class="btn btn-link deleteRecord">@Resources.Resources.LblDelete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <button type="button" onclick="ToggleForm('subjectForm')" class="btn btn-link font-large-1">+ @Resources.Resources.LblAdd</button>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <label class="m-t-20">@Resources.Resources.MsgNoData</label>
                        </div>
                    }
                    <div class="col-md-12 p-0 form-material" id="subjectForm" style="display: none;">
                        <div class="card pending-tutor-box ps-container">
                            <div class="form-edit-profile">
                                <div class="row p-2">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger mt-2" role="alert" id="errorValidationStage" style="display:none;">
                                            @Resources.Resources.MsgFillAllFields
                                        </div>
                                        <div class="alert alert-danger mt-2" role="alert" id="errorResponceStage" style="display:none;">
                                            @Resources.Resources.MsgWentWrongTryAgain
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="m-t-20">@Resources.Resources.LblSubject</label>
                                        <input type="text" class="form-control" id="selectSubject" placeholder="@Resources.Resources.PlcComputerScienceMath">
                                    </div>
                                    <div class="col-md-5">
                                        <label class="m-t-20">@Resources.Resources.LblStage</label>
                                        <select class="form-control" placeholder="Primery, Middle" id="selectStage">
                                            <option value="-1">--@Resources.Resources.LblStage--</option>
                                            @if (ViewBag.Stages != null)
                                            {
                                                foreach (var stage in ViewBag.Stages)
                                                {
                                                    <option value="@stage.StageID">@stage.StageName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-12 m-t-20">
                                            <button type="button" class="btn btn-primary float-right" id="btnAddNew">@Resources.Resources.BtnSave</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Tutor Languages*@
<div class="row page-titles m-b-0">
    <div class="col-md-5 align-self-center">
        <h3 class="inbox-text">@Resources.Resources.PlcLanguage</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ps-container p-20">
            <div class="form-edit-profile">
                <div class="row">
                    @if (ViewBag.TeacherLanguages != null)
                    {
                        <table class="table table-sm text-center table-striped">
                            <thead style="background-color:#16476A;color:white">
                                <tr class="">
                                    <th scope="col">@Resources.Resources.PlcLanguage</th>
                                    <th scope="col">@Resources.Resources.PlcLevel</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.TeacherLanguages)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Level</td>
                                        <td>
                                            <button data-id="@item.ID" data-type="language" class="btn btn-link deleteRecord">@Resources.Resources.LblDelete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <button type="button" onclick="ToggleForm('languageForm')" class="btn btn-link font-large-1">+ @Resources.Resources.LblAdd</button>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <label class="m-t-20">@Resources.Resources.MsgNoData</label>
                        </div>
                    }
                    <div class="col-md-12 p-0 form-material" id="languageForm" style="display: none;">
                        <div class="card pending-tutor-box ps-container">
                            <div class="form-edit-profile">
                                <div class="row p-2">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger mt-2" role="alert" id="errorValidationLanguage" style="display:none;">
                                            @Resources.Resources.MsgFillAllFields
                                        </div>
                                        <div class="alert alert-danger mt-2" role="alert" id="errorResponceStage" style="display:none;">
                                            @Resources.Resources.MsgWentWrongTryAgain
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="m-t-20">@Resources.Resources.PlcLanguage</label>
                                        <select class="form-control" placeholder="Primery, Middle" id="selectLanguage">
                                            <option value="">-@Resources.Resources.PlcLanguage-</option>
                                            @if (ViewBag.Languages != null)
                                            {
                                                foreach (var lang in ViewBag.Languages)
                                                {
                                                    <option value="@lang.ID">@lang.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="m-t-20">@Resources.Resources.PlcLevel</label>
                                        <select class="form-control" id="selectLanguageLevel">
                                            <option value="">-@Resources.Resources.PlcLevel-</option>
                                            @if (ViewBag.LanguageLevels != null)
                                            {
                                                foreach (var langLevel in ViewBag.LanguageLevels)
                                                {
                                                    <option value="@langLevel.Value">@langLevel.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-12 m-t-20">
                                            <button type="button" class="btn btn-primary float-right" id="btnAddNewLanguage">@Resources.Resources.BtnSave</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Tutor Certification*@
<div class="row page-titles m-b-0">
    <div class="col-md-5 align-self-center">
        <h3 class="inbox-text">@Resources.Resources.TxtCertifications</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ps-container p-20">
            <div class="form-edit-profile">
                @if (ViewBag.TeacherCertification != null)
                {
                    <table class="table table-sm text-center table-striped">
                        <thead style="background-color:#16476A;color:white">
                            <tr class="">
                                <th scope="col">@Resources.Resources.LblTitle</th>
                                <th scope="col">@Resources.Resources.ThdInstitute</th>
                                <th scope="col">@Resources.Resources.ThdYear</th>
                                <th scope="col">@Resources.Resources.LblView</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.TeacherCertification)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Institute</td>
                                    <td>@item.Year</td>
                                    <td><a target="_blank" href="~/Uploads/CertificateFiles/@item.Image">@Resources.Resources.LblView</a></td>
                                    <td>
                                        <button data-id="@item.ID" data-type="certificate" class="btn btn-link deleteRecord">@Resources.Resources.LblDelete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="button" onclick="ToggleForm('certificationForm')" class="btn btn-link font-large-1">+ @Resources.Resources.LblAdd</button>
                }
                else
                {
                    <div class="col-md-12">
                        <label class="m-t-20">@Resources.Resources.MsgNoData</label>
                    </div>
                }
                <div class="row form-material" style="width:100%; display: none;" id="certificationForm">
                    <div class="col-md-12">
                        <div class="alert alert-danger mt-2" role="alert" id="errorValidationC" style="display:none;">
                            @Resources.Resources.MsgFillAllFields
                        </div>
                        <div class="alert alert-danger mt-2" role="alert" id="errorResponceC" style="display:none;">
                            @Resources.Resources.MsgWentWrongTryAgain
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblTitle</label>
                        <input type="text" class="form-control" id="cTitle" placeholder="@Resources.Resources.PlcTitle">
                        <label class="m-t-20">@Resources.Resources.ThdInstitute</label>
                        <input class="form-control" id="cInstitute" placeholder="@Resources.Resources.PlcInstitureName">
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblYearPassed</label>
                        <select class="form-control" id="cPassedYear">
                            @if (ViewBag.Years != null)
                            {
                                foreach (var stage in ViewBag.Years)
                                {
                                    <option value="@stage">@stage</option>
                                }
                            }
                        </select>
                        @*<input type="number" class="form-control" id="cPassedYear" placeholder="2014">*@
                        @*<input type="file" name="cFile" id="cFile" />*@
                        <div class="custom-file m-t-40">
                            <input type="file" class="custom-file-input" id="cFile" name="cFile">
                            <label class="custom-file-label" for="customFile" style="border-bottom:1px solid lightgray  !important;">@Resources.Resources.BtnChooseFile</label>
                        </div>
                    </div>
                    <div class="col-md-12 m-t-20 m-b-20">
                        <button type="button" class="btn btn-primary float-right" id="btnAddNewCertification">@Resources.Resources.BtnSave</button>
                        <div class="loader float-right" style="display:none;" id="loaderSpinner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*//Edit profile PopUp*@
<div id="profile-view" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-t-0 p-b-0">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body modal-popup-payment classes-panel text-center p-t-0">
                <form role="form" action="/tutor/profile" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 p-t-20">
                            <div class="user-profile profile-left profile-user-box">
                                @*<a class="waves-effect waves-dark" href="#" aria-expanded="false">*@
                                @*<img src="~/Content/images/profile-large.png" alt="user">*@
                                <img src="@imgSrc" alt="user" />
                                <div class="user-online">&nbsp;</div>
                                @*</a>*@
                            </div>
                            <div class="user-profile profile-user-center">
                                <span class="john_title">@Model.FirstName @Model.LastName</span>
                                <span class="online">@Resources.Resources.TxtOnline</span>
                                @*<p><a href="javascript:;"><img src="~/Content/images/photo-camera-white.svg"> Update Picture</a></p>*@
                                <label for="file-input">
                                    <p style="cursor: pointer;"><img class="cameraImg" src="~/Content/images/photo-camera-white.svg"> @Resources.Resources.BtnUpdatePicture</p>
                                </label>
                                <input id="file-input" type="file" name="file" style="display:none;" />
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="shape-box">
                                    <p class="text-center"><img src="~/Content/images/face.png"></p>
                                    <h4>4.5</h4>
                                    <p class="text-center"><img src="~/Content/images/star-small.png"></p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="edit-profile-butnew">
                                    <button type="submit" class="btn btn-link btn-sm"><img src="~/Content/images/edit.svg"> @Resources.Resources.BtnEditProfile</button>
                                </div>
                            </div>*@
                    </div>
                    <div class="row m-b-0">
                        <div class="col-md-5">
                            <h3 class="inbox-text textHd">@Resources.Resources.TxtPersonalDetails</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ps-container p-b-0 m-b-0">
                                <div class="form-edit-profile">
                                    <div class="row form-material form-material-inner">
                                        <div class="col-md-6">
                                            <label class="m-t-20">@Resources.Resources.LblFirstName</label>
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @*<input type="text" class="form-control" placeholder="Smith">*@
                                            <label class="m-t-40">@Resources.Resources.LblEmailId</label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            <label class="m-t-40">@Resources.Resources.LblCountry</label>
                                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="m-t-20">@Resources.Resources.LblLastName</label>
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                            <label class="m-t-40">@Resources.Resources.LblMobileNo</label>
                                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @id = "phone", @name = "phone" } })
                                            <label class="m-t-40">@Resources.Resources.LblCity</label>
                                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-12">
                                            <label class="m-t-20">@Resources.Resources.LblAddress</label>
                                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="m-t-20">@Resources.Resources.LblTitle</label>
                                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="m-t-20">@Resources.Resources.LblQualification</label>
                                            @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", @id = "phone", @name = "phone" } })
                                        </div>
                                        <div class="col-md-12">
                                            <label class="m-t-20">@Resources.Resources.LblExperience</label>
                                            @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-12">
                                            <label class="m-t-20">@Resources.Resources.LblAboutMe</label>
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = Resources.Resources.PlcTellUsAbout })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card pending-tutor-box ps-container">
                            <button type="submit" class="btn btn-primary">@Resources.Resources.BtnSaveChanges</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/telephone-plugin/js/intlTelInput.js"></script>
<script src="~/Content/telephone-plugin/js/index.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script type="text/javascript">

    $('.editSubject').click(function () {
        var subjectId = $(this).data('subjectid');
        var stageId = $(this).data('stageid');
        $("#selectSubject").val(subjectId);
        $("#selectStage").val(stageId);
        $('#subjectForm').show();
    });

    $("#selectSubject").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/tutor/getsubjects",
                data: {
                    "name": request.term
                },
                type: "GET",
                contentType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.SubjectName, value: item.SubjectName };
                    }))
                },
                error: function (response) {
                    console.log('error');
                },
                failure: function (response) {
                    console.log('fail');
                }
            });
        }
    });

    $("#btnAddNew").click(function () {
        if ($("#selectSubject").val() != "" && $("#selectStage").val() !== "") {
            $.ajax({
                url: "/tutor/addteacherstage",
                data: JSON.stringify({
                    SubjectName: $("#selectSubject").val(),
                    StageId: $("#selectStage").val()
                    //HourlyRate: $("#hourlyRate").val()
                }),
                type: "Post",
                datatype: "Json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#selectSubject").val('');
                    $("#selectStage").val('');
                    location.reload();
                },
                error: function (response) {
                    $("#errorResponceStage").css("display", "block");
                },
                failure: function (response) {
                    console.log('fail');
                }
            });
        }
        else {
            $("#errorValidationStage").css("display", "block");
        }
    });

    $("#btnAddNewLanguage").click(function () {
        if ($("#selectLanguage").val() != "" && $("#selectLanguageLevel").val() !== "") {
            $.ajax({
                url: "/tutor/addteacherlanguage",
                data: JSON.stringify({
                    LanguageID: $("#selectLanguage").val(),
                    LanguageLevel: $("#selectLanguageLevel").val()
                }),
                type: "Post",
                datatype: "Json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#selectLanguage").val('');
                    $("#selectLanguageLevel").val('');
                    location.reload();
                },
                error: function (response) {
                    $("#errorResponceStage").css("display", "block");
                },
                failure: function (response) {
                    console.log('fail');
                }
            });
        }
        else {
            $("#errorValidationLanguage").css("display", "block");
        }
    });

    $("#btnAddNewQual").click(function () {
        if ($("#qTitle").val() != "" && $("#qQualfication").val() !== "" && $("#qExperience").val() !== "") {
            $.ajax({
                url: "/tutor/addteacherqualification",
                data: JSON.stringify({
                    DegreeTitle: $("#qTitle").val(),
                    InstituteName: $("#qInstitute").val(),
                    YearPassed: $("#qPassedYear").val()
                }),
                type: "Post",
                datatype: "Json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#qTitle").val('');
                    $("#qInstitute").val('');
                    location.reload();
                },
                error: function (response) {
                    $("#errorResponce").css("display", "block");
                },
                failure: function (response) {
                    console.log('Request fail please contact support');
                }
            });
        }
        else {
            $("#errorValidation").css("display", "block");
        }
    });

    $("#btnAddNewCertification").click(function () {
        $("#errorResponceC").css("display", "none");
        $("#errorValidationC").css("display", "none");
        $("#loaderSpinner").css("display", "block");
        $("#btnAddNewCertification").prop("disabled", true);
        var formData = new FormData();
        var files = $("#cFile").get(0).files;
        formData.append("file", files[0]);
        formData.append("DegreeTitle", $('#cTitle').val());
        formData.append("InstituteName", $('#cInstitute').val());
        formData.append("YearPassed", $('#cPassedYear').val());
        if ($("#cTitle").val() != "" && $("#cInstitute").val() !== "" && $("#cPassedYear").val() !== "") {
            $.ajax({
                url: "/tutor/addteachercertification",
                data: formData,
                type: "Post",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == "true") {
                        $('#cTitle').val('');
                        $('#cInstitute').val('');
                        location.reload();
                    }
                    else {
                        $("#btnAddNewCertification").prop("disabled", false);
                        $("#errorResponceC").css("display", "block");
                        $("#loaderSpinner").css("display", "none");
                    }
                },
                error: function (response) {
                    $("#btnAddNewCertification").prop("disabled", false);
                    $("#errorResponceC").css("display", "block");
                    $("#loaderSpinner").css("display", "none");
                },
                failure: function (response) {
                    $("#btnAddNewCertification").prop("disabled", false);
                    $("#loaderSpinner").css("display", "none");
                    console.log('Request fail please contact support');
                }
            });
        }
        else {
            $("#errorValidationC").css("display", "block");
            $("#btnAddNewCertification").prop("disabled", false);
            $("#loaderSpinner").css("display", "none");
        }
    });

    $(".deleteRecord").click(function () {
        var dataId = $(this).data('id');
        var dataType = $(this).data('type');
        var confirmDelete = confirm('@Resources.Resources.LblConfirmDelete');
        if (confirmDelete) {
            $.ajax({
                url: "/tutor/deleteteacherdata",
                data: JSON.stringify({
                    id: dataId,
                    type: dataType
                }),
                type: "Post",
                datatype: "Json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.reload();
                },
                error: function (response) {
                    console.log('error in deletion');
                },
                failure: function (response) {
                    console.log('fail');
                }
            });
        }
    });

    var accountEditMode = false;
    $('#btnEditAccountDetails').click(function () {
        if (!accountEditMode) {
            $('#accountForm').find(".form-control").removeAttr('readonly');
            $(this).text('@Resources.Resources.BtnSave');
            accountEditMode = true;
        }
        else {
            SaveAccountDetails();
            $('#accountForm').find(".form-control").attr('readonly', 'readonly');
            accountEditMode = false;
        }
    });

    $('#btnSaveAccountDetails').click(function () {
        SaveAccountDetails();
    });

    function SaveAccountDetails() {
            var accountNumber = $.trim($("#AccountDetail_AccountNo").val());
            var branchName = $.trim($("#AccountDetail_BranchName").val());
            var branchCode = $.trim($("#AccountDetail_BranchCode").val());
            var accountTitle = $.trim($("#AccountDetail_AccountName").val());
            var pinCode = $.trim($("#AccountDetail_PinNo").val());
            if (accountNumber != "" && branchName !== "" && branchCode !== "" && accountTitle !== "" && pinCode !== "") {
                $.ajax({
                    url: "/tutor/saveteacheraccount",
                    data: JSON.stringify({
                        AccountNo: accountNumber,
                        BranchName: branchName,
                        BranchCode: branchCode,
                        AccountName: accountTitle,
                        PinNo: pinCode
                    }),
                    type: "Post",
                    datatype: "Json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        location.reload();
                    },
                    error: function (response) {
                        console.log('error');
                    },
                    failure: function (response) {
                        console.log('failure');
                    }
                });
            }
            else {
                $("#msgAccountValidation").css("display", "block");
            }
    }

    function ToggleForm(formName) {
        $('#' + formName).toggle();
    }

</script>
