@model IEnumerable<ChillLearn.CustomModels.RequestsModel>
@using ChillLearn;
@{
    ViewBag.Title = "Student requests";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card pending-tutor-box ps-container" id="slimtest1" style="height:600px;">
            <div class="card-body p-t-0">
                <a href="/tutor/classes">@Resources.Resources.BtnGoBack</a>
                <div class="table-responsive table-cell-box no-wrap" style="height:600px;">
                    <table class="table vm no-th-brd pro-of-month manage-admin-list payment-text">
                        <tbody>

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var cls in Model)
                                {
                                    <tr>
                                        @{
                                            var userProfile = "";
                                            if (cls.ProfilePicture != null)
                                            {
                                                //var base64 = Convert.ToBase64String((Byte[])cls.ProfilePicture);
                                                //userPrifile = String.Format("data:image;base64,{0}", base64);
                                                userProfile = "/Content/images/" + cls.ProfilePicture;
                                            }
                                            else
                                            {
                                                userProfile = "/Content/images/NoImage.jpg";
                                            }
                                        }
                                        <td style="width:50px;"><span class="round round-img"><img src="@userProfile" alt="user" width="50"></span></td>
                                        <td style="width:auto;">
                                            <h6>@cls.StudentName</h6>
                                            <span>@cls.ClassTitle</span>
                                        </td>
                                        <td class="text-center" style="width:130px;">
                                            @if (cls.RequestStatus == (int)ClassJoinStatus.Pending)
                                            {
                                                <button type="button" class="btn waves-effect waves-light btn-block btn-warning mb-1">@Resources.Resources.BtnPending</button>
                                            }
                                            else if (cls.RequestStatus == (int)ClassJoinStatus.Approved)
                                            {
                                                <button type="button" class="btn waves-effect waves-light btn-block btn-success mb-1">@Resources.Resources.BtnApproved</button>
                                            }
                                            else if (cls.RequestStatus == (int)ClassJoinStatus.Rejected)
                                            {
                                                <button type="button" class="btn waves-effect waves-light btn-block btn-danger mb-1">@Resources.Resources.BtnRejected</button>
                                            }
                                        </td>
                                        @if (cls.RequestStatus == (int)ClassJoinStatus.Pending)
                                        {
                                            <td class="text-center dropdown" style="width:150px;">
                                                <a href="javascript:;" data-toggle="dropdown" data-hover="dropdown"><img src="~/Content/teacher/images/dotted-line.png"></a>
                                                <div class="dropdown-menu dropdown-menu-right right-dropdown">
                                                    <aspan class="dropdown-item"><b>@Resources.Resources.DrpActions</b></aspan>
                                                    @*<a class="dropdown-item" href="javascript:;"><img src="~/Content/teacher/images/play-button.svg">Approve</a>*@

                                                    <button class="dropdown-item " onclick="UpdateClass('@cls.Id', '@cls.ClassId', '@cls.StudentId', 'accept')"><img src="~/Content/teacher/images/play-button.svg"> @Resources.Resources.BtnApprove</button>
                                                    <button class="dropdown-item " onclick="UpdateClass('@cls.Id', '@cls.ClassId', '@cls.StudentId', 'reject')"><img src="~/Content/teacher/images/error.svg"> @Resources.Resources.BtnReject</button>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <h6>@Resources.Resources.MsgNoRequestsAvailable</h6>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function UpdateClass(StuClsId, classId, studentId, status) {
        var objModal = {};
        if (StuClsId) {
            objModal.StudentClassId = StuClsId;
            objModal.ClassId = classId;
            objModal.StudentId = studentId;
            objModal.Status = status;
            $.ajax({
                data: JSON.stringify(objModal),
                type: "POST",
                url: "/Tutor/UpdateClassStatus",
                datatype: "Json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data === "True") {
                        location.reload();
                    } else {
                        alert("Class " + status + " request fail");
                    }
                },
                error: function (_xhr, _ajaxOptions, _thrownError) {
                    alert("error");
                }
            });
        }
    };
</script>