@model ChillLearn.CustomModels.SessionDetailModel
@using ChillLearn;
@{
    ViewBag.Title = "Bid Detail";
    var enumDisplayStatus = (UserRoles)@HttpContext.Current.Session["UserRole"];
    string UserRole = enumDisplayStatus.ToString();
    if (UserRole == UserRoles.Student.ToString())
        Layout = "~/Views/Shared/StudentLayout.cshtml";
    else if (UserRole == @UserRoles.Teacher.ToString())
        Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card pending-tutor-box">
            <div class="card-body p-t-10 p-b-10">
                <div class="d-flex no-block">
                    <div>
                        <h4 class="card-title inbox-text">@Resources.Resources.TxtQuestionDetail</h4>
                    </div>
                </div>
            </div>
            <div>
                <hr class="m-t-0 m-b-5">
            </div>
            <div class="card-body p-t-0">
                <div class="table-responsive">
                    <table class="table vm no-th-brd pro-of-month manage-admin-list">
                        <tbody>
                            @if (Model != null && Model.ProblemDetails != null)
                            {
                                <tr>
                                    <td class="payment-text">
                                        <h4>@Resources.Resources.TxtProblemDescription</h4>
                                        <p>@Model.ProblemDetails.ProblemDescription</p>
                                        <small class="text-muted">@Model.ProblemDetails.Deadline.Value.ToString("D")</small>
                                        @foreach (var file in Model.ProblemDetails.ProblemFiles)
                                        {
                                            <div class="mt-2">
                                                <u>
                                                    <a target="_blank" href="~/uploads/questionfiles/@file.FileName">@file.FileName</a>
                                                    @*<a target="_blank" href="~/uploads/questionfiles/@file.FileName">@Resources.Resources.LblDownloadAttachment</a>*@
                                                </u>
                                            </div>
                                        }
                                        @*<span class="text-muted">Type :  @TypeSession</span><br />*@
                                        @*<small class="text-muted">Posted by :  @Model.ProblemDetail.UserName</small>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td class="payment-text">
                                        <h4>@Model.ProblemDetails.UserName @Resources.Resources.TxtProposal</h4>
                                        @*<p>@Model.ProblemDetails.TeacherResponse</p>
                                            <small class="text-muted">@Model.ProblemDetails.ResponseDate.Value.ToString("D")</small>*@
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr><td>@Resources.Resources.TxtNoDetailAvailable</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="card pending-tutor-box ps-container teacher-block-inner">
                            <div style="max-height:500px; overflow-y:auto;" id="slimScrollChat">
                                @if (Model != null && Model.Messages != null)
                                {
                                    foreach (var msg in Model.Messages)
                                    {
                                        if (@HttpContext.Current.Session["UserId"].ToString() != msg.FromUser)
                                        {
                                            <div class="chat-message-box">
                                                @msg.Message1
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="chat-message-box-skin">
                                                @msg.Message1
                                            </div>
                                        }
                                    }
                                }
                            </div>
                            @if (Model.ProblemDetails != null)
                            {
                                <div class="row">
                                    <div class="type_msg col-md-12 m-t-40 m-b-20">
                                        <div class="input_msg_write">
                                            @using (Html.BeginForm("BidResponse", "bid", FormMethod.Post))
                                            {
                                                //@Html.HiddenFor(model => model.BidId)
                                                //@Html.HiddenFor(model => model.ToUser, new { Value = @Model.ProblemDetails.UserID })
                                                @*<input type="text" class="write_msg" placeholder="Write something…">*@
                                                @Html.TextBoxFor(model => model.Response, new { @class = "write_msg" })
                                                <button class="msg_send_btn" type="submit"><img src="~/Content/images/arrow-right.png"></button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="m-t-20"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>