@using ChillLearn;
@using ChillLearn.Enums;
@model IEnumerable<ChillLearn.CustomModels.StudentProblemsModel>
@{
    ViewBag.Title = "Search Question";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
@if (ViewBag.IsApproved != true)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">@Resources.Resources.MsgTutorNotVerified</div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h3 class="inbox-text">@Resources.Resources.TxtStudentQuestions</h3>
        </div>
        <div class="col-md-12">
            <div class="card pending-tutor-box ps-container" id="slimtest1" style="min-height:600px;">
                @*<div class="search-input-box search-input-box-new text-center">
                        <input type="text" class="form-control" placeholder="Search by name, email, ID">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>*@
                <div class="card-body p-t-0">
                    <ul class="nav nav-tabs customtabnew" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="/tutor/studentproblems">
                                <span class="hidden-sm-up"><i class="ti-user"></i></span>
                                <span class="">@Resources.Resources.BtnViewHistory</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/tutor/sessionrequests">
                                <span class="hidden-sm-up"><i class="ti-home"></i></span>
                                <span class="">@Resources.Resources.LblSessionRequests</span>
                            </a>
                        </li>
                    </ul>
                    <div class="table-responsive">
                        <table class="table vm no-th-brd pro-of-month manage-admin-list payment-text">
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var problem in Model)
                                    {
                                        <tr>
                                            @{
                                                string description = Enumerations.GetEnumDescription((SessionType)@problem.Type);
                                            }
                                            @*<td style="width:50px;"><span class="round round-img"><img src="~/Content/images/payment-roll-porfile-small.png" alt="user" width="50"></span></td>*@
                                            <td>
                                                <h6>@problem.SubjectName</h6>
                                                <small class="text-muted">
                                                    @Resources.Resources.TxtType : @description &nbsp; &nbsp; @Resources.Resources.TxtDate : @problem.CreationDate &nbsp; &nbsp; @Resources.Resources.MsgHoursNeeded : @problem.HoursNeeded
                                                </small>
                                                <p><span>@Resources.Resources.TxtDeadline :  @problem.ExpireDate</span> </p>
                                                <span>@problem.ProblemDescription</span>
                                            </td>
                                            <td class="text-center" style="width:130px;">
                                                <a href="/tutor/sessiondetail/@problem.ProblemID" class="btn btn-warning pending-but text-white">@Resources.Resources.BtnViewDetail</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td><h6>@Resources.Resources.MsgNoData</h6></td></tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}