@model IEnumerable<ChillLearn.Data.Models.User>
@{
    ViewBag.Title = "Manage Tutors";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="card-body p-t-10 p-b-10">
        <div class="d-flex no-block">
            <div class="small-text">
                <h4 class="card-title inbox-text m-b-0">Manage Tutors</h4>
                <small>Delete add and modify admin permission</small>
            </div>

            @*<div class="ml-auto">
                    <a href="/admin/tutorrequests" class="btn waves-effect waves-light btn-primary add-new" >Requests</a></p>
                </div>*@
        </div>
    </div>
</div>


@*<div class="row">
        <div class="card ps-container col-md-12">
            <div class="table-responsive no-wrap">
                <table class="table vm no-th-brd pro-of-month manage-admin-list payment-text">
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:50px;"><span class="round round-img round-img-block"><img src="/content/images/@item.Picture" alt="user" style="width:100%;height:100%;"></span></td>
                                    <td>
                                        <h6>@item.FirstName @item.LastName </h6><small class="text-muted">Date </small><p><span>@item.CreationDate</span></p>
                                    </td>
                                    <td class="text-right"><a href="/admin/detail?id=@item.UserID" class="btn btn-warning pending-but text-white">View</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@

<div class="row">
    <div class="col-md-12">
        <div class="card pending-tutor-box p-t-0 managetable">
            <div class="card-body p-t-0 p-b-0">
                <!--  Nav tabs  -->
                <ul class="nav nav-tabs customtabnew" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/managetutors">
                            <span class="hidden-sm-up"><i class="ti-home"></i></span>
                            <span class="">Active Tutors</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tutorrequests">
                            <span class="hidden-sm-up"><i class="ti-user"></i></span>
                            <span class="">Pending Requests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tutorblocked">
                            <span class="hidden-sm-up"><i class="ti-user"></i></span>
                            <span class="">Blocked Tutors</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <hr class="m-t-0 m-b-5">
            </div>
            <div class="card-body p-t-0">
                <div class="tab-content">
                    <div class="search-input-box text-center">
                        <input type="text" class="form-control" placeholder="Search by name, email, ID">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                    <div class="tab-pane active" id="registered" role="tabpanel">
                        <div class="table-responsive no-wrap">
                            <table class="table vm no-th-brd pro-of-month manage-admin-list">
                                <tbody>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="width:50px;">
                                                    <span class="round"><img src="/content/images/@item.Picture" alt="user" width="50"></span>
                                                </td>
                                                <td>
                                                    <h6 class="font-14"><b>@item.FirstName @item.LastName</b></h6>
                                                    <small class="text-muted">@item.CreationDate</small>
                                                </td>
                                                @*<td>
                                                        <h6 class="font-14 text-gray">Tutor ID</h6><small class="text-muted text-gray">#54227729891</small>
                                                    </td>*@
                                                <td class="text-center">
                                                    @*<button type="button" class="btn btn-secondary btn-circle btn-circle-blue">6</button>*@
                                                </td>
                                                <td class="text-right">
                                                    <a href="/admin/detail?id=@item.UserID">
                                                        <img src="/content/images/right-arrow.png">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                No Data Available
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

