@model ChillLearn.ViewModels.ClassViewModel
@{
    ViewBag.Title = Resources.Resources.BtnBookASession;
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<style type="text/css">
    .selectBig {
        width: 90px;
        border: 1px solid #ced4da !important;
    }

    .select {
        border: 1px solid #ced4da !important;
        width: 60px;
    }

    .datepicker {
        z-index: 9999 !important;
    }
</style>

<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('.text-danger').fadeOut();
        }, 3000);
    });
</script>

<div class="row">
    <div class="col-md-12 mt-4">
        <h2>@Resources.Resources.BtnBookASession</h2>
        <div class="card pending-tutor-box p-t-0 managetable">
            <div class="card-body pt-3">
                @if (ViewData.ModelState["error"] != null)
                {
                    <div class="alert alert-danger mt-2" role="alert">
                        @Html.ValidationMessage("error")
                    </div>
                }
                @if (ViewData.ModelState["success"] != null)
                {
                    <div class="alert alert-success mt-2" role="alert">
                        @Html.ValidationMessage("success")
                    </div>
                }
                @using (Html.BeginForm("booksession", "student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    if (!string.IsNullOrEmpty(Model.TeacherName))
                    {

                        <div class="alert alert-info mt-2" role="alert">
                            @Resources.Resources.LblTeacherName: @Html.Label(Model.TeacherName, new { @class = "mb-0" })
                        </div>
                    }
                    <input type="hidden" name="BrainCertId" id="BrainCertId">
                    <input id="TeacherID" name="TeacherID" type="hidden" value="@Model.TeacherID" />
                    @Html.HiddenFor(model => model.SessionType)
                    <div class="form-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">@Resources.Resources.LblTitle</label>
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = Resources.Resources.PlcTitle, @autofocus = "" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">@Resources.Resources.LblSubject</label>
                                @Html.DropDownListFor(model => model.Subject, Model.Subjects as SelectList, Resources.Resources.LblSelectSubject, new { @class = "form-control pl-1 select2" })
                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">@Resources.Resources.LblClassTime</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group" data-autoclose="true">
                                            @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @id = "datepicker-autoclose", @placeholder = Resources.Resources.PlcSelectDate })
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.ClassHour, Model.HourList as SelectList, new { @class = "form-control select pl-1" })
                                        @Html.DropDownListFor(model => model.ClassMinute, Model.MinuteList as SelectList, new { @class = "form-control select pl-1" })
                                        @Html.DropDownListFor(model => model.ClassAMPM, Model.AMPMList as SelectList, new { @class = "form-control select pl-1" })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 mb-3" id="div-duration">
                                <label for="validationCustom02">@Resources.Resources.LblDuration</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.DurationHour, Model.DurationHourList as SelectList, new { @class = "form-control selectBig pl-2" })
                                        @Resources.Resources.LblHours
                                        @Html.DropDownListFor(model => model.DurationMinutes, Model.DurationMinuteList as SelectList, new { @class = "form-control selectBig pl-2" })
                                        @Resources.Resources.LblMinutes
                                    </div>
                                </div>
                                @if (ViewData.ModelState["classtime-error"] != null)
                                {
                                    <div class="text-danger" id="msg-duration">
                                        @Html.ValidationMessage("classtime-error")
                                    </div>
                                }
                            </div>
                            <div class="col-md-6 mb-3" id="div-timezone">
                                <label for="validationCustom01">@Resources.Resources.LblTimeZone</label>
                                @Html.DropDownListFor(model => model.TimeZone, Model.TimeZones as SelectList, Resources.Resources.LblTimeZone, new { @class = "form-control  pl-1 select2" })
                                @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="credit-refund-block credit-refund-block-new">
                                    <label for="validationCustom01">@Resources.Resources.TxtRecordClass</label>
                                    <div class="demo-radio-button text-left">
                                        <input name="Record" type="radio" id="radio_30" class="with-gap radio-col-red" checked="" value="1">
                                        <label for="radio_30">@Resources.Resources.LblYes</label>
                                        <input name="Record" type="radio" id="radio_31" class="with-gap radio-col-pink" value="0">
                                        <label for="radio_31">@Resources.Resources.LblNo</label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Record, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">@Resources.Resources.LblDescription</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <input type="submit" class="btn btn-primary float-right" value="@Resources.Resources.BtnBookASession" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/jquery-clockpicker.min.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').clockpicker({
            twelvehour: true,
            leadingSpaceAmPm: true
        });
    });
</script>