@model ChillLearn.ViewModels.ProblemsModel
@{
    ViewBag.Title = "Create Problem";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet">
<div class="row">
    <div class="col-md-12">
        <h2>@Resources.Resources.TxtStudentProblems</h2>
        <div class="card pending-tutor-box p-t-0 managetable">
            <div class="card-body p-t-0 p-b-0">
                <ul class="nav nav-tabs customtabnew" role="tablist">
                    <li class="nav-item"> <a class="nav-link" href="/student/problems" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="">@Resources.Resources.BtnViewHistory</span></a> </li>
                    <li class="nav-item"> <a class="nav-link active" href="/student/createproblem" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="">@Resources.Resources.BtnAskQuestion</span></a> </li>
                </ul>
            </div>
            <div class="card-body p-t-0">
                <div class="tab-content">
                    <div class="table-responsive no-wrap">
                        @if (ViewData.ModelState["error"] != null)
                        {
                            <div class="alert alert-danger mt-2" role="alert">
                                @Html.ValidationMessage("error")
                            </div>
                        }
                        @if (ViewData.ModelState["success"] != null)
                        {
                            <div class="alert alert-success mt-2" role="alert">
                                @Html.ValidationMessage("success")
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.TeacherName))
                        {
                            <div class="col-md-10">
                                <div class="alert alert-info mt-2" role="alert">
                                    @Resources.Resources.LblTeacherName: @ViewBag.TeacherName
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("createproblem", "student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input id="TeacherID" name="TeacherID" type="hidden" value="@Model.TeacherID" />
                            <div class="form-horizontal">
                                <hr />
                                <div class="form-group">
                                    <label for="Type" class="control-label col-md-2">@Resources.Resources.LblSelectType</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.Type, Model.SessionTypes, Resources.Resources.DrpSelectType, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Subject" class="control-label col-md-2">@Resources.Resources.LblSelectSubject</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.Subject, Model.Subjects as SelectList, Resources.Resources.DrpSelectSubject, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="HoursNeeded" class="control-label col-md-2">@Resources.Resources.LblHoursNeeded</label>
                                    <div class="col-md-10">
                                        <input type="number" name="HoursNeeded" class="form-control" />
                                        @Html.ValidationMessageFor(model => model.HoursNeeded, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="DeadLine" class="control-label col-md-2">@Resources.Resources.LblSetDeadLine</label>
                                    <div class="col-md-10 input-group">
                                        <input type="text" autocomplete="off" class="form-control" id="datepicker-autoclose" name="DeadLine" readonly="readonly">
                                        <span class="fa fa-calculator input-IconInside"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ProblemDescription" class="control-label col-md-3">@Resources.Resources.LblDescribeProblem</label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.ProblemDescription, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ProblemDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="file" name="file" />
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="@Resources.Resources.BtnPostProblem" class="btn login-account" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>