@using ChillLearn.Enums;
@using ChillLearn;
@model ChillLearn.ViewModels.ProblemsModel

@{
    ViewBag.Title = "Problems";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet">
<div class="row">
    <div class="col-md-12">
        <h2>Student Problems</h2>
        <div class="card pending-tutor-box p-t-0 managetable">
            <div class="card-body p-t-0 p-b-0">
                <!--  Nav tabs  -->
                <ul class="nav nav-tabs customtabnew" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#StudentProblems" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="">View History</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#AskQuestion" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="">Ask Question</span></a> </li>
                </ul>
            </div>
            @*<div>
                <hr class="m-t-0 m-b-5">
            </div>*@
            <div class="card-body p-t-0">
                <div class="tab-content">
                    @*<div class="search-input-box text-center">
            <input type="text" class="form-control" placeholder="Search by name, email, ID">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>*@
                    <div class="tab-pane active" id="StudentProblems" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card pending-tutor-box ps-container" id="slimtest1" style="height:600px;">
                                    <div class="card-body p-t-0">
                                        <div class="table-responsive ">
                                            <table class="table vm no-th-brd pro-of-month manage-admin-list payment-text">
                                                <tbody>
                                                    @if (Model != null && Model.Problems != null)
                                                    {
                                                        foreach (var problem in Model.Problems)
                                                        {
                                                            <tr>
                                                                @{
                                                                    string description = Enumerations.GetEnumDescription((SessionType)@problem.Type);
                                                                }
                                                                @*<td style="width:50px;"><span class="round round-img"><img src="~/Content/images/payment-roll-porfile-small.png" alt="user" width="50"></span></td>*@
                                                                <td>
                                                                    <h6>@problem.SubjectName</h6><small class="text-muted">Type : @description &nbsp; &nbsp; Date : @problem.CreationDate &nbsp; &nbsp; Hours needed : @problem.HoursNeeded </small>
                                                                    <p><span>Deadline :  @problem.ExpireDate</span> </p>
                                                                    <span>@problem.ProblemDescription</span>
                                                                </td>
                                                                <td class="text-center" style="width:130px;">
                                                                    <a href="/student/bids?problem=@problem.ProblemID" class="btn btn-warning pending-but mb-1" style="width: 130px;">View Bids</a>
                                                                    <a href="/student/problem_detail?problem=@problem.ProblemID" class="btn btn-warning pending-but" style="width: 130px;">View Detail</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr><td><h6>No Data Available</h6></td></tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="AskQuestion" role="tabpanel">
                        <div class="table-responsive no-wrap">
                            @*<p class="ml-4 text-danger">@Html.ValidationMessage("error")</p>
                <p class="ml-4 text-success">@Html.ValidationMessage("success")</p>*@

                            @if (ViewData.ModelState["error"] != null)
                            {
                                <div class="alert alert-danger mt-2" role="alert">
                                    @Html.ValidationMessage("error")
                                </div>
                            }
                            @if (ViewData.ModelState["success"] != null)
                            {
                                <div class="alert alert-success mt-2" role="alert">
                                    @Html.ValidationMessage("success")
                                </div>
                            }
                            @using (Html.BeginForm("problems", "student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @*<h4>User</h4>*@
                                    <hr />
                                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                                    <div class="form-group">

                                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.Type, Model.SessionTypes, "-- Select Type --", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.Subject, Model.Subjects as SelectList, "-- Select Subject --", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HoursNeeded, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <input type="number" name="HoursNeeded" class="form-control" />
                                            @*@Html.EditorFor(model => model.HoursNeeded, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.HoursNeeded, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeadLine, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10 input-group">
                                            <input type="text" autocomplete="off" class="form-control mydatepicker datepicker" id="datepicker-autoclose" name="DeadLine">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProblemDescription, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(model => model.ProblemDescription, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ProblemDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <input type="file" name="file" />
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Post Problem" class="btn login-account" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>


