@using ChillLearn.Enums;
@using ChillLearn;
@model ChillLearn.ViewModels.ProblemsModel

@{
    ViewBag.Title = "Problems";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet">
<div class="row">
    <div class="col-md-12">
        <h2>@Resources.Resources.TxtStudentProblems</h2>
        <div class="card pending-tutor-box p-t-0 managetable">
            <div class="card-body p-t-0 p-b-0">
                <!--  Nav tabs  -->
                <ul class="nav nav-tabs customtabnew" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" href="/student/problems"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="">@Resources.Resources.BtnViewHistory</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/student/createproblem"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="">@Resources.Resources.BtnAskQuestion</span></a> </li>
                </ul>
            </div>
            @*<div>
                    <hr class="m-t-0 m-b-5">
                </div>*@
            <div class="card-body p-t-0">
                <div class="tab-content">
                    @*<div class="search-input-box text-center">
                            <input type="text" class="form-control" placeholder="Search by name, email, ID">
                            <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>*@
                    <div class="tab-pane active" id="StudentProblems" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card pending-tutor-box ps-container" id="slimtest1" style="height:600px;">
                                    <div class="card-body p-t-0">
                                        <div class="table-responsive ">
                                            <table class="table vm no-th-brd pro-of-month manage-admin-list payment-text">
                                                <tbody>
                                                    @if (Model != null && Model.Problems != null)
                                                    {
                                                        foreach (var problem in Model.Problems)
                                                        {
                                                            <tr>
                                                                @{
                                                                    string description = Enumerations.GetEnumDescription((SessionType)@problem.Type);
                                                                }
                                                                @*<td style="width:50px;"><span class="round round-img"><img src="~/Content/images/payment-roll-porfile-small.png" alt="user" width="50"></span></td>*@
                                                                <td>
                                                                    <h6>@problem.SubjectName</h6><small class="text-muted">
                                                                        @Resources.Resources.TxtType : @description &nbsp; &nbsp; @Resources.Resources.TxtDate : @problem.CreationDate &nbsp; &nbsp; @Resources.Resources.TxtHoursNeeded : @problem.HoursNeeded
                                                                    </small>
                                                                    <p><span>@Resources.Resources.TxtDeadline :  @problem.ExpireDate</span> </p>
                                                                    <span>@problem.ProblemDescription</span>
                                                                </td>
                                                                <td class="text-center" style="width:130px;">
                                                                    <a href="/student/bids?problem=@problem.ProblemID" class="btn btn-warning pending-but mb-1" style="width: 130px;">@Resources.Resources.BtnViewBids</a>
                                                                    <a href="/student/problem_detail?problem=@problem.ProblemID" class="btn btn-warning pending-but" style="width: 130px;">@Resources.Resources.BtnViewDetail</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr><td><h6>@Resources.Resources.MsgNoData</h6></td></tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>