@model ChillLearn.CustomModels.ProfileModel
@using ChillLearn;
@{
    ViewBag.Title = "Student Profile";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<link href="~/Content/telephone-plugin/css/intlTelInput.css" rel="stylesheet" />
<style type="text/css">
    .iti__country-list {
        position: absolute;
    }
</style>
@*<div class="row page-titles m-b-10">
        <div class="col-md-10 align-self-center">
            <div class="search-input-box search-input-box-new text-center">
                <input type="text" class="form-control" placeholder="Search Subject, Teacher">
                <span><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-2 align-self-center list-sort text-right delete-message">
            <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                <option value="Category 1">ENG</option>
                <option value="Category 2">ENG1</option>
                <option value="Category 3">ENG2</option>
                <option value="Category 4">ENG3</option>
            </select>
        </div>
    </div>*@


<!-- ============================================================== -->
<!-- inbox box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12 m-t-20">
        <div class="card pending-tutor-box ps-container">
            <div class="profile-user-box">
                @{
                    var imgSrc = "";
                    if (HttpContext.Current.Session["Picture"] != null)
                    {
                        //var base64 = Convert.ToBase64String((Byte[])HttpContext.Current.Session["Picture"]);
                        //imgSrc = String.Format("data:image;base64,{0}", base64);
                        imgSrc = "/Content/images/" + @HttpContext.Current.Session["Picture"].ToString();
                    }
                    else
                    {
                        imgSrc = "/Content/images/NoImage.jpg";
                    }
                }
                @*<img src="~/Content/images/@HttpContext.Current.Session["Picture"]">*@
                <img src="@imgSrc" alt="user" />
                @*<label for="file-input">
                        <span><img src="~/Content/images/photo-camera.svg"></span>
                    </label>
                    <input id="file-input" type="file" name="file" style="display:none;" />*@
            </div>
            <div class="username">
                <h1>@Model.FirstName  @Model.LastName</h1>
                <p>Member Since Sept 2019</p>
            </div>
            <div class="list-box">
                <ul>
                    <li>
                        <span>Hours Spent</span>
                        <p>20Hrs</p>
                    </li>
                    <li>
                        <span>Classes taken</span>
                        <p>6 Sessions</p>
                    </li>
                    <li>
                        <span>Question Asked</span>
                        <p>25 Questions</p>
                    </li>
                </ul>
            </div>
            <div class="edit-profile-but">
                <a href="javascript:;" data-toggle="modal" data-target="#profile-view">
                    <img src="~/Content/images/edit.svg">@Resources.Resources.BtnEditProfile
                </a>
            </div>
            <div class="form-edit-profile">
                <div class="row form-material">
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblFirstName</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @*<input type="text" class="form-control" placeholder="Smith">*@
                        <label class="m-t-40">@Resources.Resources.LblEmailId</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">@Resources.Resources.LblCountry</label>
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-20">@Resources.Resources.LblLastName</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">@Resources.Resources.LblMobileNo</label>
                        @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <label class="m-t-40">@Resources.Resources.LblCity</label>
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-12">
                        <label class="m-t-20">@Resources.Resources.LblAddress</label>
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

            </div>
            @*<div class="list-box-change form-material">
                    <ul>
                        <li>
                            <label class="m-t-20">Password</label>
                            <input type="password" class="form-control" value="password">
                        </li>
                        <li>
                            <a href="javascript:;">Change Password</a>
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
</div>





@*//Edit profile PopUp*@

<div id="profile-view" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-t-0 p-b-0">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body modal-popup-payment classes-panel text-center p-t-0">
                <form role="form" action="/student/profile" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 p-t-20">
                            <div class="user-profile profile-left profile-user-box">
                                @*<a class="waves-effect waves-dark" href="#" aria-expanded="false">*@
                                @*<img src="~/Content/images/profile-large.png" alt="user">*@
                                @*<img src="~/Content/images/@HttpContext.Current.Session["Picture"]" alt="user">*@
                                <img src="@imgSrc" alt="user" />
                                <div class="user-online">&nbsp;</div>
                                @*</a>*@
                            </div>
                            <div class="user-profile profile-user-center">
                                <span class="john_title">@Model.FirstName @Model.LastName</span>
                                <span class="online">@Resources.Resources.TxtOnline</span>
                                @*<p><a href="javascript:;"><img src="~/Content/images/photo-camera-white.svg"> Update Picture</a></p>*@
                                <label for="file-input">
                                    <p style="cursor: pointer;"><img src="~/Content/images/photo-camera-white.svg"> @Resources.Resources.BtnUpdatePicture</p>
                                </label>
                                <input id="file-input" type="file" name="file" style="display:none;" />
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="shape-box">
                                    <p class="text-center"><img src="~/Content/images/face.png"></p>
                                    <h4>4.5</h4>
                                    <p class="text-center"><img src="~/Content/images/star-small.png"></p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="edit-profile-butnew">
                                    <button type="submit" class="btn btn-link btn-sm"><img src="~/Content/images/edit.svg">@Resources.Resources.BtnEditProfile</button>
                                </div>
                            </div>*@
                    </div>
                    <div class="row m-b-0">
                        <div class="col-md-5">
                            <h3 class="inbox-text text-left">@Resources.Resources.TxtPersonalDetails</h3>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ps-container p-b-0 m-b-0">
                                <div class="form-edit-profile">
                                    <div class="row form-material form-material-inner">
                                        <div class="col-md-6">
                                            <label class="m-t-20">@Resources.Resources.LblFirstName</label>
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @*<input type="text" class="form-control" placeholder="Smith">*@
                                            <label class="m-t-40">@Resources.Resources.LblEmailId</label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            <label class="m-t-40">@Resources.Resources.LblCountry</label>
                                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="m-t-20">@Resources.Resources.LblLastName</label>
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                            <label class="m-t-40">@Resources.Resources.LblMobileNo</label>
                                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @id = "phone", @name = "phone" } })
                                            <label class="m-t-40">@Resources.Resources.LblCity</label>
                                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-12">
                                            <label class="m-t-20">@Resources.Resources.LblAddress</label>
                                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>


                                @*<div class="list-box-change form-material list-box-change-new">
                                        <ul>
                                            <li>
                                                <label class="m-t-20">Password</label>
                                                <input type="password" class="form-control" value="password">
                                            </li>
                                            <li>
                                                <a href="javascript:;">Change Password</a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="card pending-tutor-box ps-container">
                            @*<p>Delete My Account</p>*@
                            <button type="submit" class="btn btn-primary">@Resources.Resources.BtnSaveChanges</button>
                        </div>
                    </div>
                </form>
            </div>




        </div>

    </div>
    <!-- /.modal-content -->
</div>
<script src="~/Content/telephone-plugin/js/intlTelInput.js"></script>
<script src="~/Content/telephone-plugin/js/index.js"></script>		