@model ChillLearn.ViewModels.ClassViewModel
@{
    ViewBag.Title = "Create Class";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
<script src="~/Content/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        var classType = $("#drp-class-type").find(':selected').val();
        AdjustForm(classType);
        $('#drp-class-type').change(function () {
            AdjustForm(this.value);
        });
    });

    function AdjustForm(classType) {
        if (classType == 2) {
            $('#div-record').addClass('hide');
            $('#div-duration').addClass('hide');
            $('#div-classtime').addClass('hide');
        }
        else {
            $('#div-record').removeClass('hide');
            $('#div-duration').removeClass('hide');
            $('#div-classtime').removeClass('hide');
        }
    }
</script>

@if (ViewBag.IsApproved != true)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">@Resources.Resources.MsgTutorNotVerified</div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="card radius">
                <div class="card-body p-t-15 p-b-15 tutor-application">
                    <div class="table-responsive no-wrap">
                        <div class="table vm no-th-brd pro-of-month manage-admin-list m-b-0">
                            <h6 class="text-white">@Resources.Resources.TxtCreateNewClass</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-t-0">
                    <form class=" form-list" action="/class/create" id="submitForm" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="BrainCertId" id="BrainCertId">
                        @Html.HiddenFor(model => model.ClassID)
                        <div class="form-body">
                            <hr class="m-t-0 m-b-20">
                            @if (ViewData.ModelState["success"] != null)
                            {
                                <div class="alert alert-success" role="alert" style="position:relative;">
                                    @Html.ValidationMessage("success")
                                </div>
                            }
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom02">@Resources.Resources.LblTitle</label>
                                    <input type="text" class="form-control" placeholder="@Resources.Resources.PlcTitle" name="title" id="clsTitle" autofocus>
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom02">@Resources.Resources.LblClassDate</label>
                                    <div class="input-group" data-autoclose="true">
                                        <input type="text" autocomplete="off" class="form-control" id="datepicker-autoclose" name="Date" placeholder="@Resources.Resources.PlcSelectDate">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">@Resources.Resources.LblClassType</label>
                                    @Html.DropDownListFor(model => model.SessionType, new SelectList(Model.SessionTypes, "Value", "Text"), new { @class = "form-control custom-select selectBorder pl-1", @id = "drp-class-type" })
                                    @Html.ValidationMessageFor(model => model.SessionType, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 mb-3" id="div-classtime">
                                    <label for="validationCustom02">@Resources.Resources.LblClassTime</label>
                                    <div class="input-group clockpicker" data-autoclose="true">
                                        <input type="text" class="form-control" placeholder="12:30PM" name="Time" id="clsTime">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">@Resources.Resources.LblSubject</label>
                                    @Html.DropDownListFor(model => model.Subject, Model.Subjects as SelectList, Resources.Resources.LblSelectSubject, new { @class = "form-control custom-select pl-1 select2" })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 mb-3" id="div-duration">
                                    <label for="validationCustom02">@Resources.Resources.LblDuration</label>
                                    <input type="number" class="form-control" name="Duration" step="any" min="0.5" placeholder="Hours">
                                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom02">@Resources.Resources.LblDescription</label>
                                    <textarea class="form-control" name="Description"></textarea>
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 mb-3" id="div-record">
                                    <div class="credit-refund-block credit-refund-block-new">
                                        <h4 class="card-title  m-t-20 text-left">@Resources.Resources.TxtRecordClass</h4>
                                        <div class="demo-radio-button text-left">
                                            <input name="Record" type="radio" id="radio_30" class="with-gap radio-col-red" checked="" value="1">
                                            <label for="radio_30">@Resources.Resources.LblYes</label>
                                            <input name="Record" type="radio" id="radio_31" class="with-gap radio-col-pink" value="0">
                                            <label for="radio_31">@Resources.Resources.LblNo</label>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Record, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <input type="button" id="createClass" class="btn btn-primary float-right" value="@Resources.Resources.BtnCreateClass" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script type="text/javascript">

    $("#createClass").click(function () {
        var classType = $("#drp-class-type").find(':selected').val();
        var clsTitle = $("#clsTitle").val();
        var clsDate = $("#datepicker-autoclose").val();
        if (clsTitle != null && clsTitle != "") {
            if (classType == "1") {
                var newdate = clsDate.split("/").reverse().join("-");
                var clsTime = $("#clsTime").val();
                var clsEndTime = moment.utc(clsTime, 'hh:mm A').add(30, 'minutes').format('hh:mm A')
                var radioValue = $("input[name='Record']:checked").val();
                if (clsTitle != null && clsTitle != "") {
                    $.ajax({
                        url: "https://api.braincert.com/v2/schedule?apikey=EBqafLB3sAk1HeCDxr4Z&title=" + clsTitle + "&timezone=49&date=" + newdate + "&start_time=" + clsTime + "&end_time=" + clsEndTime + "& currency=SAR&ispaid=0&seat_attendees=1&record=" + radioValue + "",
                        type: "Post",
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            $("#BrainCertId").val(data.class_id);
                            $("#submitForm").submit();
                        },
                        //error: function () {
                        //    console.log("error");
                        //},
                        //failure: function () {
                        //    console.log("fail");
                        //}
                    });
                }
            }
            else if (classType == "2") {
                $("#BrainCertId").val('0');
                $("#submitForm").submit();
            }
        }
    });
</script>