@model ChillLearn.ViewModels.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot_Password";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="fix-header fix-sidebar card-no-border">
    <div class="login-block">
        <div class="login-box">
            <h1><img src="~/Content/images/logo-login.png"></h1>
            <p class="msg-login">@Resources.Resources.LblForgotPassword</p>
            @if (ViewData.ModelState["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @Html.ValidationMessage("error")
                </div>
            }
            @if (ViewData.ModelState["success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @Html.ValidationMessage("success")
                </div>
            }
        <form class="floating-labels floating-block" action="/account/forgot_password" method="POST">
            @*<div class="form-group m-b-50">
                <input type="text" class="form-control" id="input1" name="UserEmail">
                <span class="bar"></span>
                <label for="input1">@Resources.Resources.LblEmailAddress</label>
            </div>*@
            <div class="form-group m-b-20">
                <input type="text" class="form-control pl-2" placeholder="@Resources.Resources.PlcEmailID" id="input1" name="UserEmail">
                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
            </div>
            <div class="m-b-10 m-t-20">&nbsp;</div>
            <div class="col-md-12 col-sm-12 text-center">
                <button type="submit" class="btn login-account">@Resources.Resources.LblResetPassword</button>
            </div>
        </form>
            @*}*@
        </div>

    </div>
</div>

