@model ChillLearn.ViewModels.UserView

@{
    ViewBag.Title = "ChillLearn - Create an account";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<link href="~/Content/telephone-plugin/css/intlTelInput.css" rel="stylesheet" />
<link href="~/Content/password-plugin/pwdwidget.css" rel="stylesheet" />
<style>
    .tooltip-inner {
        max-width: 300px;
        width: 300px;
    }
</style>
<section class="login-content">
    <div class="container">
        <div class="row">
            <div class="register-block-inner">
                <!-- rightside -->
                <div class="right-side-from right-side-from-register">
                    <div class="right-block-bg">
                        <h4>@Resources.Resources.TxtAlreadyHaveAccount</h4>
                        <p>@Resources.Resources.TxtSignUpInfo</p>
                        <a href="/account/login">
                            <button type="button" class="btn btn-rounded sign-in-but sign-up-white">@Resources.Resources.BtnLogin</button>
                        </a>
                    </div>
                    <p><img src="~/Content/main/images/register_illustration.svg"></p>
                </div>
                <!-- leftside -->
                <div class="left-login left-register">
                    <h1>@Resources.Resources.TxtCreateNewAccount</h1>
                    <div id="fb-root"></div> <!-- This initializes the FB controls-->
                    <div class="fb-login-button ml-4 mb-4" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="ml-4 alert alert-danger mr-3">@Html.ValidationMessage("error")</div>
                    }
                    @*<p class="ml-4 text-success">@Html.ValidationMessage("success")</p>*@
                    <form class="floating-labels floating-block register-block" action="/account/register" method="POST">
                        @*<div class="form-group m-t-10">
                                        @Html.DropDownListFor(model => model.UserRole, new SelectList(Model.UserRoles, "Value", "Text"), "I am a ", new { @class = "form-control custom-select" })
                            @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
                                    </div>*@
                        <input type="hidden" name="UserRole" value="1" />
                        <div class="form-group m-b-20">
                            <input type="text" class="form-control pl-2" placeholder="@Resources.Resources.PlcFirstName" name="FirstName" autofocus>
                        </div>
                        <div class="form-group m-t-10">
                            <input type="text" class="form-control pl-2" placeholder="@Resources.Resources.PlcLastName" name="LastName">
                        </div>
                        <div class="form-group m-t-10">
                            <input type="email" class="form-control pl-2" placeholder="@Resources.Resources.PlcEmailID" name="Email">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-t-10">
                            @*<input type="password" class="form-control pl-2" placeholder="@Resources.Resources.PlcPassword" name="Password" id="regpwd">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                            <div class="row">
                                <div class="col-xs-9 pl-3" style="width:88%;">
                                    <div class='pwdwidgetdiv' id='thepwddiv'></div>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip" data-placement="right" title='
                                            To make your password more secure: <br />
                                     - Use letters and numbers <br />
                                     - Use Special characters (e.g. ,#) <br />
                                     - Mix lower and uppercase
                                    '>?
                            </button>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-t-10">
                            <input type="password" class="form-control pl-2" placeholder="@Resources.Resources.PlcConfirmPassword" name="ConfirmPassword">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group m-t-10">
                            @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control", @id = "phone", @name = "ContactNumber" })
                        </div>

                        @*<div class="form-group m-t-10">
                                <input type="text" class="form-control pl-2" placeholder="@Resources.Resources.PlcGrade" name="Grade">
                            </div>
                            <div class="form-group m-t-10" id="div-class-control">
                                <input type="text" class="form-control pl-2" placeholder="@Resources.Resources.PlcClass" name="Class">
                            </div>*@
                        <div class="col-md-12 col-sm-12 text-center">
                            <button type="submit" class="btn btn-rounded sign-in-but register-but">@Resources.Resources.TxtCreateNewAccount</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Content/telephone-plugin/js/intlTelInput.js"></script>
@*<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=2354798001501872&autoLogAppEvents=1"></script>*@
<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=565023847660764&autoLogAppEvents=1"></script>
<script src="~/Content/js/custom/facbookRegister.js"></script>
<script src="~/Content/telephone-plugin/js/index.js"></script>
<script src="~/Content/password-plugin/pwdwidget.js"></script>
<script type="text/javascript">
    var pwdwidget = new PasswordWidget('thepwddiv', 'Password');
    pwdwidget.enableGenerate = false;
    //pwdwidget.showing_pwd = false;

    pwdwidget.MakePWDWidget();
</script>
@*<script type="text/javascript">
        $(function () {
            $('#UserRole').change(function () {
                if (parseInt($(this).val()) == 2)
                    $('#div-class-control').hide();
                else
                    $('#div-class-control').show();
            });
        });
    </script>*@