
@model ChillLearn.ViewModels.ResetPasswordModel
@{
    ViewBag.Title = "Reset_Password";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="fix-header fix-sidebar card-no-border">
    <div class="login-block">
        <div class="login-box">
            <h1><img src="~/Content/images/logo-login.png"></h1>
            <p class="msg-login">@Resources.Resources.LblResetPassword</p>
            @*<p>@Html.ValidationMessage("error")</p>
            <p>@Html.ValidationMessage("success")</p>*@
            @if (ViewData.ModelState["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @Html.ValidationMessage("error")
                </div>
            }
            @if (ViewData.ModelState["success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @Html.ValidationMessage("success")
                </div>
            }
        <form class="floating-labels floating-block" action="/account/reset_password" method="POST">
            <input type="hidden" name="Token" id="Token" value="@ViewBag.Token" />
            @*<div class="form-group m-b-50">
            <input type="password" class="form-control" id="input1" name="Password">
            <span class="bar"></span>
            <label for="input1">@Resources.Resources.LblPassword</label>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>*@
            <div class="form-group m-b-20">
                <input type="password" class="form-control pl-2" placeholder="@Resources.Resources.PlcPassword" id="input1" name="Password">
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="m-b-10 m-t-20">&nbsp;</div>
            @*<div class="form-group m-b-40 m-t-10">
                <input type="password" class="form-control" id="input2" name="ConfirmPassword">
                <span class="bar"></span>
                <label for="input2">@Resources.Resources.LblConfirmPassword</label>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>*@
            <div class="form-group m-b-20">
                <input type="password" class="form-control pl-2" placeholder="@Resources.Resources.LblConfirmPassword" name="ConfirmPassword">
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-12 col-sm-12 text-center">
                <button type="submit" class="btn login-account">@Resources.Resources.BtnResetPassword</button>
            </div>
            <a href="/account/login">@Resources.Resources.BtnLogin</a>
        </form>
        </div>

    </div>
</div>
