@model ChillLearn.ViewModels.TutorRegistration

@{
    ViewBag.Title = "Become a tutor - ChillLearn";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<link href="~/Content/telephone-plugin/css/intlTelInput.css" rel="stylesheet" />
<link href="~/Content/password-plugin/pwdwidget.css" rel="stylesheet" />
<link href="~/Content/main/signup.css" rel="stylesheet" />
<link href="~/Content/select2-plugin/select2.css" rel="stylesheet" />
@*<link href="~/Content/FileDrop/filedrop.css" rel="stylesheet" />*@
<style>
</style>
<div class="easy-block pt-5">
    <div class="container border shadow-sm bg-white">
        <div class="row">
            <section class="col-12">
                <ul class="nav nav-tabs flex-nowrap ulFlex" role="tablist">
                    <div class="liner"></div>
                    <li role="presentation" class="nav-item">
                        <a href="#step1" class="nav-link active text-center" data-toggle="tab" aria-controls="step1" role="tab">
                            <span>1 </span>
                        </a>
                        <p>@Resources.Resources.PersonalDetail</p>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="#step2" class="nav-link disabled" data-toggle="tab" aria-controls="step2" role="tab">
                            <span>2</span>
                        </a>
                        <p>@Resources.Resources.ProfessionEducation</p>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="#step3" class="nav-link disabled" data-toggle="tab" aria-controls="step3" role="tab">
                            <span>3</span>
                        </a>
                        <p>@Resources.Resources.AccountDetail</p>
                    </li>
                    @*<li role="presentation" class="nav-item">
                            <a href="#complete" class="nav-link disabled" data-toggle="tab" aria-controls="complete" role="tab">
                                <span>4</span>
                            </a>
                        </li>*@
                </ul>
                <p id="ValidationError" class="text-danger ml-3"></p>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="ml-4 alert alert-danger mr-3">@Html.ValidationMessage("error")</div>
                }
                <form role="form" class="floating-labels" id="submitForm" action="/account/tutor" method="POST" enctype="multipart/form-data">
                    <div class="tab-content py-2">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            @*First Name Last Name  cls=floating-block register-block*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-b-20">
                                            @*<input type="text" id="FirstName" class="form-control" placeholder="@Resources.Resources.PlcFirstName" name="FirstName" autofocus>*@
                                            @Html.TextBoxFor(m => m.FirstName, new { placeholder = @Resources.Resources.PlcFirstName, @class = "form-control", @autofocus = "true" })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.LastName, new { placeholder = @Resources.Resources.PlcLastName, @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            @*<input type="text" id="LastName" class="form-control" placeholder="@Resources.Resources.PlcLastName" name="LastName">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Email*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-t-10">
                                            @*<input type="email" id="Email" class="form-control pl-2" placeholder="@Resources.Resources.PlcEmailID" name="Email">*@
                                            @Html.TextBoxFor(m => m.Email, new { placeholder = @Resources.Resources.PlcEmailID, @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group mt-1">
                                            @Html.DropDownListFor(m => m.Country, new SelectList(ViewBag.Countries, "Name", "Name"), new { @class = "form-control custom-select", @style = "width: 100%;" })
                                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Password Confirm Password*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-t-10">
                                            <div class="row">
                                                <div class="col-xs-9 pl-3" style="width:91%;">
                                                    <div class='pwdwidgetdiv' id='thepwddiv'></div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip" data-placement="right" title='
                                                            @Resources.Resources.PasswordTip1 <br />
                                                     @Resources.Resources.PasswordTip2 <br />
                                                     @Resources.Resources.PasswordTip3 <br />
                                                     @Resources.Resources.PasswordTip4
                                                    '>?
                                                </button>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-t-10">
                                            <input type="password" class="form-control pl-2" placeholder="@Resources.Resources.PlcConfirmPassword" name="ConfirmPassword" id="ConfirmPassword">
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Contect Number*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-t-10">
                                            @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control", @id = "phone", @name = "ContactNumber", Style = "padding-left:45px !important;" })
                                            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary float-right" id="validatePersonalInfo">@Resources.Resources.BtnContinue</button>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step2">
                            @*Uni And Qualification*@
                            <div class="row m-t-10">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-b-20">
                                            <input type="text" id="University" class="form-control" placeholder="@Resources.Resources.PlcEnterUniversity" name="University" autofocus>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group">
                                            <input type="text" id="HigherQualification" class="form-control" placeholder="@Resources.Resources.PlcHigherQualification" name="HigherQualification">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Subject And Experience*@
                            <div class="row m-t-10">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-b-20">
                                            <input type="text" id="Subject" class="form-control" placeholder="@Resources.Resources.PlcSubjectOfExpertise" name="Subject">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group">
                                            <input type="number" id="Experience" class="form-control" placeholder="@Resources.Resources.PlcYOE" name="Experience">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Subject And Time*@
                            <div class="row m-t-10">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-b-20">
                                            @*<input type="text" id="SubjectTutored" class="form-control" placeholder="Subject Tutored" name="SubjectTutored" />*@
                                            <select multiple class="form-control custom-select" id="SubjectTutored" name="SubjectTutored" style="width:100%;">
                                                @foreach (var item in ViewBag.Subjects)
                                                {
                                                    <option value="@item.SubjectID">@item.SubjectName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        @*<div class="input-group clockpicker" data-autoclose="true">
                                            <input type="text" class="form-control" value="09:30" name="PreferedTime" id="PreferdTime">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            @*Language And Level*@
                            <div class="row m-t-20">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-b-20">
                                            @*<input type="text" id="Language" class="form-control" placeholder="Language" name="Language" style="display:none;" />*@
                                            <select id="langSelOpt" class="form-control custom-select" name="Language" style="width:100%;">
                                                <option selected="selected" style="display:none;" value="0">@Resources.Resources.PlcLanguage</option>
                                                @foreach (var item in ViewBag.Languages)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group">
                                            @*<input type="text" id="LangLevel" class="form-control" placeholder="Level" name="LangLevel" style="display:none;" />*@
                                            <select id="langLevelSelOpt" class="form-control custom-select" name="LangLevel" style="width:100%;">
                                                <option selected="selected" style="display:none;" value="0">@Resources.Resources.PlcLevel</option>
                                                @foreach (var item in ViewBag.LanguageLevel)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-1 float-left">
                                        <button type="button" class="btn btn-sm btn-primary m-t-10" id="btnAddLangLevel">Add</button>
                                    </div>*@
                                </div>
                            </div>
                            @*Textarea*@
                            <div class="row m-t-10">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = @Resources.Resources.PlcTellUsAbout })
                                    </div>
                                </div>
                            </div>

                            @*Drop File*@
                            <div class="row m-t-10">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <p>
                                            @Resources.Resources.LblUploadInfo
                                        </p>
                                        <label for="fileInput" style="width:100%;">
                                            <div id="dropContainer" class="event_desc" style="cursor:pointer;">
                                                @Resources.Resources.DragDrop <br />
                                                @Resources.Resources.FindOnComputer
                                                <p id="selectedFile"></p>
                                                <input type="file" name="filesF" id="fileInput" multiple style="display:none;">
                                            </div>
                                        </label>

                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-6 pl-md-4 mt-3">
                                    <span class="float-left"><button type="button" class="btn btn-outline-primary next-step">@Resources.Resources.BtnSkipContinue</button></span>
                                </div>
                                <div class="col-md-6 pl-md-4 mt-3">
                                    <span class="float-right">
                                        <button type="button" class="btn btn-primary" id="ProfnEduValidation">@Resources.Resources.BtnContinue</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            @*Account No*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12 float-left">
                                        <div class="form-group m-b-20">
                                            <input type="text" id="AccountNo" class="form-control" placeholder="@Resources.Resources.PlcEnterAccountNo" name="AccountNo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Branch ANme & Code*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-b-20">
                                            <input type="text" id="BranchName" class="form-control" placeholder="@Resources.Resources.PlcBranchName" name="BranchName">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-b-20">
                                            <input type="text" id="BranchCode" class="form-control" placeholder="@Resources.Resources.PlcEnterCode" name="BranchCode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Account HolderName And Pin*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-b-20">
                                            <input type="text" id="AccountHolder" class="form-control" placeholder="@Resources.Resources.PlcAccountHolderName" name="AccountHolder">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <div class="form-group m-b-20">
                                            <input type="text" id="Pin" class="form-control" placeholder="@Resources.Resources.PlcPinNo" name="Pin">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">@Resources.Resources.BtnSkipSave</button>
                            <ul class="float-right">
                                @*<li class="list-inline-item">
                                        <button type="button" class="btn btn-outline-primary prev-step">Previous</button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-outline-primary next-step">Skip</button>
                                    </li>*@
                                <li class="list-inline-item">
                                    <button type="button" class="btn btn-primary btn-info-full" id="AccountValidation">@Resources.Resources.BtnSaveContinue</button>
                                </li>
                            </ul>
                        </div>
                        @*<div class="tab-pane" role="tabpanel" id="complete">
                                <h3>Complete!</h3>
                                <p>You have successfully completed all steps.</p>
                            </div>*@
                        <div class="clearfix"></div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


<script src="~/Content/telephone-plugin/js/intlTelInput.js"></script>
@*<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=2354798001501872&autoLogAppEvents=1"></script>*@
@*<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=565023847660764&autoLogAppEvents=1"></script>*@
@*<script src="~/Content/js/custom/facbookRegister.js"></script>*@
<script src="~/Content/telephone-plugin/js/index.js"></script>
<script src="~/Content/password-plugin/pwdwidget.js"></script>
<script src="~/Content/select2-plugin/select2.js"></script>
@*<script src="~/Content/FileDrop/filedrop.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    var pwdwidget = new PasswordWidget('thepwddiv', 'Password');
    pwdwidget.enableGenerate = false;
    //pwdwidget.showing_pwd = false;
    pwdwidget.MakePWDWidget();

    //select2 config
    var s2 = $("#SubjectTutored").select2({
        placeholder: "@Resources.Resources.PlcTutoredSubjects",
        tags: false
    });
    var vals = [];
    vals.forEach(function (e) {
        if (!s2.find('option:contains(' + e + ')').length)
            s2.append($('<option>').text(e));
    });
    s2.val(vals).trigger("change");

   //Add Language Level

    $("#btnAddLangLevel").click(function () {
        var LangList = $("#Language").val();
        var language = $("#langSelOpt").val();
        var level = $("#langLevelSelOpt").val();
        if (language != '' && language != '-1' && level != '' && level != '-1') {
            $("#Language").val(LangList + "-" + language + "," + level);
            $("#langSelOpt").val("-1");
            $("#langLevelSelOpt").val("-1");
        }
        else {
            alert("please select both");
        }
    });

</script>
<script>

    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var $target = $(e.target);
            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {
            var $active = $('.nav-tabs li>.active');
            $active.parent().next().find('.nav-link').removeClass('disabled');
            nextTab($active);
        });

        $(".prev-step").click(function (e) {
            var $active = $('.nav-tabs li>a.active');
            prevTab($active);
        });
    });

    function nextTab(elem) {
        $(elem).parent().next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).parent().prev().find('a[data-toggle="tab"]').click();
    }

    $("#validatePersonalInfo").click(function (e) {
        $("#ValidationError").text("");
        var firstName = $("#FirstName").val();
        var lastName = $("#LastName").val();
        var email = $("#Email").val();
        var country = $("#Country").val();
        var Password = $("#Password_id").val();
        var confirmPassword = $("#ConfirmPassword").val();
        var phone = $("#phone").val();

        if (firstName == '') {
            $("#ValidationError").text("@Resources.Resources.MsgFirstName");
        }
        else if (lastName == '') {
            $("#ValidationError").text("@Resources.Resources.MsgLastName");
        }
        else if (email == '') {
            $("#ValidationError").text("@Resources.Resources.MsgEmail");
        }
        else if (country == '') {
            $("#ValidationError").text("@Resources.Resources.MsgCountry");
        }
        else if (Password == '' && Password.length < 4) {
            $("#ValidationError").text("@Resources.Resources.MsgPassword");
        }
        else if (confirmPassword == '' && confirmPassword != Password) {
            $("#ValidationError").text("@Resources.Resources.MsgPasswordMismatch");
        }
        else {
            var $active = $('.nav-tabs li>.active');
            $active.parent().next().find('.nav-link').removeClass('disabled');
            $active.parent().find('span').addClass('donetab');
            nextTab($active);
        }
    });
    $("#ProfnEduValidation").click(function (e) {
        $("#ValidationError").text("");
        var university = $("#University").val();
        var higherQual = $("#HigherQualification").val();
        var subExperties = $("#Subject").val();
        var experience = $("#Experience").val();
        var subTutored = $("#SubjectTutored").val();
        //var preferedtime = $("#PreferdTime").val();
        var preferedtime = "9:18";

        if (university == '') {
            $("#ValidationError").text("@Resources.Resources.MsgUniversity");
        }
        else if (higherQual == '') {
            $("#ValidationError").text("@Resources.Resources.MsgHigherQualification");
        }
        else if (subExperties == '') {
            $("#ValidationError").text("@Resources.Resources.MsgSubject");
        }
        else if (experience == '') {
            $("#ValidationError").text("@Resources.Resources.MsgExperience");
        }
        else if (subTutored == '') {
            $("#ValidationError").text("@Resources.Resources.MsgSubjectTutored");
        }
        else if (preferedtime == '') {
            $("#ValidationError").text("@Resources.Resources.MsgTime");
        }
        else {
            var $active = $('.nav-tabs li>.active');
            $active.parent().next().find('.nav-link').removeClass('disabled');
            $active.parent().find('span').addClass('donetab');
            nextTab($active);
        }
    });
    $("#AccountValidation").click(function (e) {
        $("#ValidationError").text("");
        var accountNo = $("#AccountNo").val();
        var BranchName = $("#BranchName").val();
        var code = $("#BranchCode").val();
        var accountHolderName = $("#AccountHolder").val();
        var panNo = $("#Pin").val();

        if (accountNo == '') {
            $("#ValidationError").text("@Resources.Resources.MsgAccountNo");
        }
        else if (BranchName == '') {
            $("#ValidationError").text("@Resources.Resources.MsgBranchName");
        }
        else if (code == '') {
            $("#ValidationError").text("@Resources.Resources.MsgBranchCode");
        }
        else if (accountHolderName == '') {
            $("#ValidationError").text("@Resources.Resources.MsgAccountName");
        }
        else if (panNo == '') {
            $("#ValidationError").text("@Resources.Resources.MsgPinCode");
        }
        else {
            $("#submitForm").submit();
        }
    });

</script>
<script>
    $('#fileInput').change(function () {
        var files = $(this)[0].files;
        $("#selectedFile").text($('#fileInput').prop('files').length + " @Resources.Resources.MsgFileSelected");
    });
    dropContainer.ondragover = dropContainer.ondragenter = function (evt) {
        evt.preventDefault();
    };

    dropContainer.ondrop = function (evt) {
        // pretty simple -- but not for IE :(
        fileInput.files = evt.dataTransfer.files;
        $("#selectedFile").text($('#fileInput').prop('files').length + " @Resources.Resources.MsgFileSelected");
        evt.preventDefault();
    };
</script>

