<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chill Learn</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/perfect-scrollbar.min.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- Custom CSS -->
    <link href="~/Content/teacher/style.css" rel="stylesheet" />
    <!-- diretion CSS
    <link href="css/style-direction.css" rel="stylesheet">-->
    <!-- Date picker plugins css -->
    <link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- time picker plugins css -->
    <link href="~/Content/css/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- responsive css -->
    <link href="~/Content/teacher/responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-header fix-sidebar card-no-border">
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="dashboard.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/Content/teacher/images/logo.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon
                            <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />-->
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text <span>

                        <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />

                        <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span>-->
                    </a>

                    <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark pull-right" href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a>

                    <div class="navbar-collapse">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->

                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->

            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="dashboard.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/Content/teacher/images/logo.png" alt="homepage" class="dark-logo" />

                        </b>
                        <!--End Logo icon
                        <span>

                         <img src="images/logo-text.png" alt="homepage" class="dark-logo" />

                         <img src="images/logo-light-text.png" class="light-logo" alt="homepage" /></span> -->
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->

            </nav>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav profile-box">
                    <div class="form-group">
                        <select class="form-control custom-select custom-teacher" data-placeholder="Choose a Category" tabindex="1">
                            <option value="Category 1">ENG</option>
                            <option value="Category 2">ENG 2</option>
                            <option value="Category 3">ENG 3</option>
                            <option value="Category 4">ENG 4</option>
                        </select>
                    </div>
                    <ul id="sidebarnav">

                        <li>

                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="@(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "index" ? "waves-effect waves-dark active" : "waves-effect waves-dark")" href="/tutor/index">
                                <img src="/Content/teacher/images/Home.svg">
                                <span class="hide-menu">@Resources.Resources.BtnDashboard </span>
                            </a>
                        </li>
                        <li>
                            <a class="@(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "classes" ? "waves-effect waves-dark active" : "waves-effect waves-dark")" href="/tutor/classes">
                                <img src="/Content/teacher/images/Classes.svg" style="width: 21px;">
                                <span class="hide-menu">@Resources.Resources.BtnClasses </span>
                            </a>
                        </li>
                        <li>
                            <a @(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "bids" ? "waves-effect waves-dark active" : "waves-effect waves-dark") " href="/tutor/bids">
                                <img src="/Content/teacher/images/wallet.svg">
                                <span class="hide-menu">@Resources.Resources.BtnMyBids</span>
                            </a>
                        </li>
                        <li>
                            <a @(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "StudentProblems" ? "waves-effect waves-dark active" : "waves-effect waves-dark") " href="/tutor/StudentProblems">
                                <img src="/Content/teacher/images/wallet.svg">
                                <span class="hide-menu">@Resources.Resources.BtnQuestions</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="#wallet.html">
                                <img src="/Content/teacher/images/wallet.svg">
                                <span class="hide-menu">@Resources.Resources.BtnWallet</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="#inbox.html">
                                <img src="/Content/teacher/images/Inbox.svg">
                                <span class="hide-menu">@Resources.Resources.BtnInbox</span>
                            </a>
                        </li>

                    </ul>
                </nav>

            </div>

            <!-- End Sidebar navigation -->
            <!-- End Sidebar scroll-->
        </aside>

    </div>
    <div class="page-wrapper">
        <div class="container-fluid r-aside">
            <div>
                @RenderBody()
            </div>
            <aside class="right-side-panel">
                <div class="row">
                    <!-- Weather Widget -->
                    <div class="col-md-12">
                        <!--  Nav tabs  -->
                        <ul class="logout">
                            <li>@Resources.Resources.BtnLogout</li>
                            <li> <a href="/account/logoff"><img src="/Content/teacher/images/logout.svg"></a></li>
                        </ul>
                        <div class="user-profile">
                            <a class="waves-effect waves-dark" href="#" aria-expanded="false">
                                @{
                                    var imgSrc = "";
                                    if (HttpContext.Current.Session["Picture"] != null)
                                    {
                                        var base64 = Convert.ToBase64String((Byte[])HttpContext.Current.Session["Picture"]);
                                        imgSrc = String.Format("data:image;base64,{0}", base64);
                                    }
                                    else
                                    {
                                        imgSrc = "/Content/images/NoImage.jpg";
                                    }
                                }
                                <img src="@imgSrc" alt="user" />
                                @*<img src="/Content/images/@HttpContext.Current.Session["Picture"]" alt="user">*@
                                <div class="user-online">&nbsp;</div>
                            </a>
                            <span class="john_title">@HttpContext.Current.Session["UserName"]</span>
                            <span class="online">@Resources.Resources.TxtOnline</span>
                            <p><a href="/tutor/profile">@Resources.Resources.BtnViewProfile</a></p>
                            <!--<ul aria-expanded="false" class="collapse">
                                <li><a href="javascript:void()">My Profile </a></li>
                                <li><a href="javascript:void()">My Balance</a></li>
                                <li><a href="javascript:void()">Inbox</a></li>
                                <li><a href="javascript:void()">Account Setting</a></li>
                                <li><a href="javascript:void()">Logout</a></li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="col-md-12 bordr-top">
                        <!--  Tab panes  -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home2" role="tabpanel">
                                <div class="card-body tab-profile-new p-t-10 p-b-10">
                                    <div class="col-md-12 col-lg-12 m-b-20"></div>

                                    <div class="row m-b-0">
                                        <div class="d-flex no-block col-md-12">
                                            <div>
                                                <h4 class="card-title inbox-text inbox-texttwo"><img src="/Content/teacher/images/Student_notification.svg">Notifications</h4>
                                            </div>
                                            <div class="ml-auto">
                                                <p class="view-all"><a href="notifications.html">@Resources.Resources.BtnViewAll</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table vm no-th-brd pro-of-month right-sidelisting">
                                            <tbody>
                                                <tr>
                                                    <td style="width:50px;"><span class="bell-box-block"><img src="/Content/teacher/images/bell.svg" alt="user"></span></td>
                                                    <td>
                                                        <h6>Your Classes begin soon </h6><small class="text-muted">2 mins ago</small>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td style="width:50px;"><span class="bell-box-block"><img src="/Content/teacher/images/bell.svg" alt="user"></span></td>
                                                    <td>
                                                        <h6>Mrs. Smartha replied your question </h6><small class="text-muted">Today, 8:30pm</small>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td style="width:50px;"><span class="bell-box-block"><img src="/Content/teacher/images/bell.svg" alt="user"></span></td>
                                                    <td>
                                                        <h6>Mrs. Smartha replied your question </h6><small class="text-muted">12 Sept, 10:20am</small>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td style="width:50px;"><span class="bell-box-block"><img src="/Content/teacher/images/bell.svg" alt="user"></span></td>
                                                    <td>
                                                        <h6>Mahi Singh requested for reschedule session #4244 </h6><small class="text-muted">12 Sept, 10:10am</small>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:50px;"><span class="bell-box-block"><img src="/Content/teacher/images/bell.svg" alt="user"></span></td>
                                                    <td>
                                                        <h6>Account Credited with $50 </h6><small class="text-muted">2 mins ago</small>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:50px;"><span class="bell-box-block"><img src="/Content/teacher/images/bell.svg" alt="user"></span></td>
                                                    <td>
                                                        <h6>Your Classes begin soon </h6><small class="text-muted">2 mins ago</small>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Weather Widget -->
                    <!-- twitter Widget -->
                </div>
            </aside>
        </div>
    </div>

    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/js/custom.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="~/Content/js/jquery-clockpicker.min.js"></script>
    <!-- Chart JS -->
    <script src="~/Content/js/dashboard1.js"></script>
    <!-- ============================================================== -->
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
                $('#slimtest1, #slimtest2, #slimtest3, #slimtest4','#slimScrollChat').perfectScrollbar();
                /*******************************************/
                // Basic Date Range Picker
                /*******************************************/

    </script>
    <script>
                // Date Picker
                jQuery('.mydatepicker, #datepicker').datepicker();
                jQuery('#datepicker-autoclose').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd/mm/yyyy'
                });
                jQuery('#date-range').datepicker({
                    toggleActive: true
                });
                jQuery('#datepicker-inline').datepicker({
                    todayHighlight: true
                });
                $('#single-input').clockpicker({
                    placement: 'bottom',
                    align: 'left',
                    autoclose: true,
                    'default': 'now'
                });
                $('.clockpicker').clockpicker({
                    donetext: 'Done',
                }).find('input').change(function () {
                    console.log(this.value);
                });
    </script>
    <script>
                function snapFunction() {
                    icon1 = Snap("#randomIcon");
                    icon1_elems = icon1.selectAll('line, polyline, path, circle, ellipse, rect, polygon');
                    console.log(icon1_elems);
                    $('#randomIcon').mouseenter(function () {
                        icon1_elems.forEach(function (elem) {
                            console.log(elem);
                            elem.attr({
                                stroke: "#639DC1",
                            });
                        });
                    });
                    $('#randomIcon').mouseleave(function () {
                        icon1_elems.forEach(function (elem) {
                            console.log(elem);
                            elem.attr({
                                stroke: "black",
                            });
                        });
                    });
                }
    </script>

</body>
</html>
