@model ChillLearn.CustomModels.BidDetailModel
@using ChillLearn;
@{
    ViewBag.Title = "Bid Detail";
    var enumDisplayStatus = (UserRoles)@HttpContext.Current.Session["UserRole"];
    string UserRole = enumDisplayStatus.ToString();
    if (UserRole == UserRoles.Student.ToString())
        Layout = "~/Views/Shared/StudentLayout.cshtml";
    else if (UserRole == @UserRoles.Teacher.ToString())
        Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card pending-tutor-box">
            <div class="card-body p-t-10 p-b-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4>@Resources.Resources.TxtProblemDescription</h4>
                    </div>
                    @if (Model.ProblemDetail.Status == (int)BidStatus.Offered)
                    {
                        <div class="col-md-6 text-right">
                            @using (Html.BeginForm("detail", "bid", FormMethod.Post))
                            {
                                <input type="submit" value="@Resources.Resources.LblAcceptOffer" name="accept" class="btn btn-primary" />
                                <input type="submit" value="@Resources.Resources.LblDecline" name="decline" class="btn btn-primary" />
                                @*<a href="" class="btn btn-primary">
                                    @Resources.Resources.BtnViewClass
                                </a>*@
                            }
                        </div>
                    }
                </div>
            </div>
            <div>
                <hr class="m-t-0 m-b-5">
            </div>
            <div class="card-body p-t-0">
                <div class="table-responsive">
                    <table class="table vm no-th-brd pro-of-month manage-admin-list">
                        <tbody>
                            @if (Model != null && Model.ProblemDetail != null)
                            {
                                <tr>
                                    <td class="payment-text">

                                        <p>@Model.ProblemDetail.ProblemDescription</p>
                                        <div>
                                            <span class="text-muted">@Resources.Resources.LblSubject: @Model.ProblemDetail.SubjectName</span>
                                        </div>
                                        <div>
                                            <small class="text-muted">@Model.ProblemDetail.ProblemDate.Value.ToString("D")</small>
                                        </div>
                                        <br />
                                        @foreach (var file in Model.ProblemDetail.ProblemFiles)
                                        {
                                            <div class="mt-2">
                                                <u>
                                                    <a target="_blank" href="~/uploads/questionfiles/@file.FileName">@file.FileName</a>
                                                    @*<a target="_blank" href="~/uploads/questionfiles/@file.FileName">@Resources.Resources.LblDownloadAttachment</a>*@
                                                </u>
                                            </div>
                                        }
                                        @*<small class="text-muted">Posted by :  @Model.ProblemDetail.UserName</small>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td class="payment-text">
                                        <h4>@Model.ProblemDetail.UserName @Resources.Resources.TxtProposal</h4>
                                        <p>@Model.ProblemDetail.TeacherResponse</p>
                                        <small class="text-muted">@Model.ProblemDetail.ResponseDate.Value.ToString("D")</small>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr><td>@Resources.Resources.TxtNoDetailAvailable</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="ps-container teacher-block-inner">
                            <div style="max-height:500px; overflow-y:auto;" id="slimScrollChat">
                                @if (Model != null && Model.Messages != null)
                                {
                                    foreach (var msg in Model.Messages)
                                    {
                                        if (@HttpContext.Current.Session["UserId"].ToString() != msg.FromUser)
                                        {
                                            <div class="chat-message-box">
                                                @Html.Raw(@msg.Message1)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="chat-message-box-skin">
                                                @Html.Raw(@msg.Message1)
                                            </div>
                                        }
                                    }
                                }
                            </div>
                            @if (Model.ProblemDetail != null && Model.ProblemDetail.Status != (int)BidStatus.Declined)
                            {
                                <div class="row">
                                    <div class="type_msg col-md-12 m-t-10 m-b-10">
                                        @using (Html.BeginForm("BidResponse", "bid", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="input_msg_write">
                                                        @Html.HiddenFor(model => model.BidId)
                                                        @*@Html.HiddenFor(model => model.ToUser, new { Value = @Model.ProblemDetail.UserID })*@
                                                        @*<input type="text" class="write_msg" placeholder="Write something…">*@
                                                        @Html.TextAreaFor(model => model.Response, new { @class = "write_msg", @required = "" })
                                                        @*<button class="msg_send_btn" type="submit"><img src="~/Content/images/arrow-right.png"></button>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-6">
                                                    <input type="file" name="files" multiple />
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.BtnSend" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>