@model IEnumerable<ChillLearn.Data.Models.Plan>
@{
    ViewBag.Title = "Plans - ChillLearn";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<div class="easy-block pt-5">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <form class="col-lg-4" method="post" action="/home/PlanDetail">
                        <div class="card pending-tutor-box">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="col-md-12 col-lg-12 pending-tutor-ht">
                                        <p class="col-md-12 col-lg-12 text-center pending-tutor-block">@item.PlanName</p>
                                        <div class="round-box-circle rounded-circle" style="font-size: 35px;">
                                            @item.Price
                                            <span style="font-size: 10px;">SAR</span>
                                        </div>
                                        <p class="col-md-12 col-lg-12 text-center pending-tutor-block">@item.Hours @Resources.Resources.TxtCredits</p>
                                        <p class="col-md-12 col-lg-12 text-center view-all">
                                            <input type="hidden" name="PlanID" value="@item.PlanID" />
                                            <button type="submit" class="btn btn-outline-primary">@Resources.Resources.BtnBuyNow</button>
                                        </p>
                                        @*<p class="col-md-12 col-lg-12 text-center view-all"><a href="/home/plandetail?p=@item.PlanID">View Detail</a></p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>