@model ChillLearn.CustomModels.ProfileModel
@using ChillLearn.Enums;
@{
    ViewBag.Title = "Student_Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(201, 76, 76, 0.5);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .aaa {
        position: relative;
        /*width: 50%;*/
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .aaa:hover .overlay {
        height: 80%;
        border-radius: 50%;
        margin-bottom: 9px;
    }

    .text {
        color: white;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card radius">
            @*//start*@
            <form class="form-horizontal form-list" role="form" action="/home/profile" method="POST" enctype="multipart/form-data">
                <div class="card-body p-t-15 p-b-15 tutor-application registered-application">
                    <div class="table-responsive no-wrap">
                        <table class="table vm no-th-brd pro-of-month manage-admin-list m-b-0">
                            <tr>
                                @*<td style="width:50px;"><span class="round"><img src="~/Content/images/user.png" alt="user" width="50"></span></td>*@
                                <td style="width:50px;" class="">
                                    <div class="image-upload aaa">
                                        <label for="file-input">
                                            <span class="round">
                                                <img src="~/Content/images/@Html.DisplayFor(model =>model.ProfileImage)" class="image" />
                                                <div class="overlay">
                                                    <div class="text">Upload</div>
                                                </div>
                                            </span>
                                        </label>

                                        <input id="file-input" type="file" name="file" />
                                        @*@Html.TextBox("file", "", new { type = "file" })*@

                                    </div>

                                </td>
                                <td>
                                    <h6 class="text-white">@Model.FirstName @Model.LastName </h6><small class="text-white numbertext">#54227729891</small>
                                </td>
                                <td class="text-right">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body p-t-0">

                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.ProfileImage)
                    <div class="form-body">
                        <hr class="m-t-0 m-b-20">
                        <h5 class="box-title text-uppercase font-medium">Personal Details</h5>
                        <hr class="m-t-0 m-b-20">
                        <div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="FirstName">First Name</label>
                                    @*<input type="text" class="form-control" placeholder="Laurel" name="FirstName">*@
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="LastName">Last Name</label>
                                    @*<input type="text" class="form-control" placeholder="Cooper" name="LastName">*@
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="Email">Email</label>
                                    @*<input type="text" class="form-control" placeholder="laurelcooper@gmail.com" name="Email">*@
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="ContactNumber">Mobile No.</label>
                                    @*<input type="text" class="form-control" placeholder="+835 5367665" name="ContactNumber">*@
                                    @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="Country">Country</label>
                                    @*<input type="text" class="form-control" placeholder="Indonesia" name="Country">*@
                                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="City">City</label>
                                    @*<input type="text" class="form-control" placeholder="City" name="City">*@
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="Country">Address</label>
                                    @*<textarea class="form-control" placeholder="Address" name="Address"></textarea>*@
                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                </div>
                            </div>
                            <!--/row-->
                            <div class="m-t-0 m-b-30"></div>
                            <hr class="m-t-0 m-b-20">
                            @*Teacher Panel*@
                            @{
                                var enumDisplayStatus = (UserRoles.Teacher);
                                string stringValue = enumDisplayStatus.ToString();
                            }
                            @if((int)UserRoles.Teacher == (int)@HttpContext.Current.Session["UserRole"])
                            {
                            <div class="row">
                                <!--Accordion wrapper-->
                                <div class="accordion md-accordion col-md-12 p-l-0 p-b-20" id="accordionEx" role="tablist" aria-multiselectable="true">

                                    <!-- Accordion card -->
                                    <div class="card  m-b-0">

                                        <!-- Card header -->
                                        <div class="card-header card-header-two" role="tab" id="headingOne1">
                                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                               aria-controls="collapseOne1">
                                                <h5 class="mb-0">
                                                    Registration details<i class="fa fa-chevron-down rotate-icon"></i>
                                                </h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                            <div class="card-body p-b-0">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-12">Qualification</label>
                                                            <div class="col-md-12">
                                                                <input type="text" class="form-control" placeholder="Msc, M.tech, B.ed">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="form-group row m-b-0">
                                                            <label class="control-label col-md-12">Subject Taught</label>
                                                            <div class="col-md-12">
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2">Computer Science, Mathematics, .net , Java, Javascript, Communication</textarea>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-12">Teaching Experience</label>
                                                            <div class="col-md-12">
                                                                <input type="text" class="form-control" placeholder="3-4 years">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label col-md-12">Student Reviews </label>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- Accordion card -->


                                </div>
                                <!-- Accordion wrapper -->
                            </div>
                             }
                            <hr class="m-t-0 m-b-20">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label col-md-12">Wallet & Balance </label>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 ">
                                    <h4 class="card-title total-text">Wallet Amount</h4>
                                    <h6 class="card-subtitle dollar-text">$60.78</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 ">
                                    <h4 class="card-title total-text">Wallet Hours</h4>
                                    <h6 class="card-subtitle dollar-text-two">8 Hours</h6>
                                </div>
                                <div class="col-lg-4 col-md-4 ">
                                    <h4 class="card-title total-text">Active Plan</h4>
                                    <h6 class="card-subtitle dollar-text-three">Premium</h6>
                                </div>
                            </div>
                            <div class="m-t-40"></div>


                            <div class="m-t-40"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 text-center">
                        <button type="submit" class="btn login-account">Update Profile</button>
                    </div>

                </div>
            </form>
            @*End*@
        </div>
    </div>
</div>
